<style>
    .poolClaimBox{
        width: calc(100% - 30px);
        padding: 15px;
    }
    .poolClaimBox table{
        width: 100%;
    }
    .poolClaimBox table td{
        border: 1px solid #d7d7d7;
        padding: 5px 7px;
    }
</style>
<div class="poolClaimBox">
    <table>
        <tbody>
        <tr>
            <td style="-ms-word-break: break-all;width: 170px;" valign="middle"  align="center">
                <span style="color: red">*</span> 项目负责人<br>（合同内部联系人）<br>
            </td>
            <td style="word-break: break-all;" valign="middle" align="left">
                <input name="leaderName" id="leaderName" class="layui-input"
                       readonly="readonly">
            </td>
        </tr>
        <tr>
            <td style="-ms-word-break: break-all;width: 170px;" valign="middle" align="center">
                <span style="color: red">*</span> 项目组成员<br>
            </td>
            <td style="word-break: break-all;" valign="middle" align="left">
                <input name="memberName" id="memberName" class="layui-input"
                       readonly="readonly">
            </td>
        </tr>
        <tr>
            <td style="-ms-word-break: break-all;width: 170px;" valign="middle" align="center">
                 项目管理员<br>
            </td>
            <td style="word-break: break-all;" valign="middle" align="left">
                <input name="projectAdminName" id="projectAdminName" class="layui-input"
                       readonly="readonly">
            </td>
        </tr>
        <tr>
            <td style="-ms-word-break: break-all;width: 170px;" valign="middle" align="center">
                预计人力投入<br>（人天）
            </td>
            <td style="word-break: break-all;" valign="middle" align="left">
                <input maxlength="6" onkeyup="replaceNonNegative(this)" name="personInput" id="personInput" class="layui-input">
            </td>
        </tr>
        <tr>
            <td valign="middle" align="center">
                项目描述：
            </td>
            <td rowspan="1" colspan="3" valign="middle" align="left">
                <textarea name="remark" title="项目描述" id="remark" class="layui-textarea"
                          style=" height: 150px; font-size: 14px; box-sizing: border-box;resize: none"
                          placeholder="项目描述"   maxlength="200"
                          ></textarea>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="layui-form-item"style="left: 270px;position: absolute;bottom: 10px;">
        <button class="layui-btn layui-btn-normal"  id="btn-claim">确定</button>
        <button class="layui-btn layui-btn-primary" id="popmenuCancle">取消</button>
    </div>
</div>