<style>
    .selectContract {
        height: 26px;
        border: 1px solid #999;
        border-radius: 3px;
    }
</style>
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card p-main">
            <!-- 卡片容器 -->
            <div class="layui-card-body" style="height: auto; overflow: hidden;">
                <!-- 数据表格顶部控制栏 -->
                <div class="layui-form">
                    <div class="layui-form-item table-top-bar">

                        <input type="hidden" id="extTableName" value="tableContent-confirmContract">
                        <input type="hidden" id="extTableUrl" value="/api/budget/buinessPerfonmanceContract/updateprocessInstanceIdByIdList">
                        <div class="layui-inline">
                            <span>冻结方向：</span>
                            <div class="layui-inline" style="width: 70px;">
                                <select name="colsDir" id="colsDir" lay-filter="colsDir">
                                    <option value="forward">前</option>
                                    <option value="behind">后</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <span>冻结列数：</span>
                            <div class="layui-inline" style="width: 70px;">
                                <select name="colsNum" id="colsNum" lay-filter="colsNum">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                            </div>
                        </div>
                        <!-- 右侧 -->
                        <div class="layui-inline layui-pull-right">
                            <div class="layui-inline">
                                <button id="btn_add_contract" class="layui-btn layui-btn-sm layui-btn-primary" lay-filter="btn_add_user" lay-submit title="新增">
                                    <i class="layui-icon layui-icon-add-1"></i>新增
                                </button>

                                <button id="btn_upload_contract" class="layui-btn layui-btn-sm  layui-btn-primary" lay-filter="btn_upload_project" lay-submit title="上传">
                                    <i class="layui-icon layui-icon-upload-circle"></i>上传
                                </button>

                                <button id="btn_download_contract" class="layui-btn layui-btn-sm  layui-btn-primary" lay-filter="btn_download_project" lay-submit title="下载">
                                    <i class="layui-icon layui-icon-download-circle"></i>下载
                                </button>

                                <button id="btn_del_contract_batch" class="layui-btn layui-btn-sm layui-btn-danger" lay-filter="btn_del_user_batch" lay-submit title="删除">
                                    <i class="layui-icon layui-icon-delete"></i>删除
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- 下部表格容器 -->
                <table id="tableContent-confirmContract" layui-hide lay-filter="tableContent-confirmContract"></table>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="conState">
    <input type="hidden" value={{d.conState}}>
    <select name="conState_selected" class="selectContract" lay-filter="conState_selected" lay-ignore>
        <option value="">-- 请选择 --</option>
        <option value="终止">终止</option>
        <option value="继续执行">继续执行</option>
    </select>
</script>

<script type="text/html" id="contractBelong">
    <input type="hidden" value={{d.contractBelong}}>
    <select name="contractBelong_selected" class="selectContract" lay-filter="contractBelong_selected" lay-ignore>
        <option value="">-- 请选择 --</option>
        <option value="成本">成本</option>
        <option value="课题">课题</option>
    </select>
</script>

<script type="text/html" id="conType">
    <input type="hidden" value={{d.conType}}>
    <select name="conType_selected" class="selectContract" lay-filter="conType_selected" lay-ignore>
        <option value="">-- 请选择 --</option>
        <option value="费用">费用</option>
        <option value="资产-固定资产">资产-固定资产</option>
        <option value="资产-无形资产">资产-无形资产</option>
        <option value="资产-试验车">资产-试验车</option>
        <option value="资产-库存商品">资产-库存商品</option>
    </select>
</script>

<script type="text/html" id="isStock">
    <input type="hidden" value={{d.isStock}}>
    <select name="isStock_selected" class="selectContract" lay-filter="isStock_selected" lay-ignore>
        <option value="">-- 请选择 --</option>
        <option value="是">是</option>
        <option value="否">否</option>
    </select>
</script>

<script>
    layui.use(['table', 'upload', 'config', 'jquery', 'laydate', 'pageAuth'], function() {
        var table = layui.table,
            form = layui.form,
            admin = layui.admin,
            config = layui.config,
            $ = layui.jquery,
            laydate = layui.laydate,
            pageAuth = layui.pageAuth,
            upload = layui.upload;
        
        pageAuth.init(); //初始化页面权限变量

        var tableAuth = {}; //表格权限
        var searchObj = {}; //查询条件
        
        //动态调整表格高度
        var tableHeight = 360;
        if(config.businessParam.tableHeight){
           tableHeight = config.businessParam.tableHeight;
           }
        
        //获取表格权限、按钮权限、查询条件，并渲染表格
        var initPage = function() {
            var auth = pageAuth.getTableAuth();
            searchObj = pageAuth.getQueryConditions();
            var buttonAuth = pageAuth.getButtonAuth();
            $('#btn_add_contract').css('display', buttonAuth[0]);
            $('#btn_del_contract_batch').css('display', buttonAuth[1]);
            $('#btn_upload_contract').css('display', buttonAuth[2]);
            $('#btn_download_contract').css('display', buttonAuth[3]);
            //获取列权限
            admin.req('components/externalForm/contractDataAuth.json', {}, function(req) {
                if (req.ok) {
                    tableAuth = req.data[auth];
                }
                //初始化渲染表格
                renderTable(searchObj, {
                    "direction": "",
                    "num": ""
                });
            });
        }
 
        // 渲染表格
        var renderTable = function(data, colsParam) {
            if (!data) {
                data = {};
            }

            var tableIns = table.render({
                // table参数
                elem: '#tableContent-confirmContract',
                //url: admin.formatUrl('components/externalForm/contractData.json'),
                url: admin.formatUrl('/api/budget/buinessPerfonmanceContract'),
                where: data,
                //height: 490,
                parseData: function(res) { //res 即为原始返回的数据
                    return {
                        "code": res.respCode, //解析接口状态
                        "msg": res.message, //解析提示文本
                        //"count": res.data.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                },
                cols: getCols(colsParam.direction, colsParam.num),
                page: false,
                height: tableHeight,
                done: function(res, curr, count) {
                    if (pageAuth.enableLock()) {  //行锁定权限是否生效
                        //锁定行的权限控制
                        var dataCache = table.cache['tableContent-confirmContract'],
                            el = this.elem.next('.layui-table-view');
                        $.each(dataCache, function(ind, item) {
                            if (item.islock === '是') {
                                var i = item.LAY_TABLE_INDEX;
                                el.find('tr[data-index="' + i + '"]').find('input[name="layTableCheckbox"]')
                                    .attr({
                                        name: 'layTableCheckboxDisabled',
                                        disabled: 'disabled'
                                    })
                            }
                        });
                    }

                    //下拉回显及权限控制
                    setSelected(['conState', 'contractBelong', 'conType', 'isStock']);
                    //修复表格中放下拉框，下拉框下部被隐藏一部分的bug
                    var tableElem = this.elem.next('.layui-table-view');
                    layui.each(tableElem.find('tbody select'), function(index, item) {
                        var elem = $(item);
                        elem.parents('div.layui-table-cell').css('overflow', 'visible');
                    });
                    //重新渲染表格下拉框
                    form.render();
                    //修复表格固定列的问题
                    $(window).resize();
                    //初始化表格编辑校验
                    LayValidator.init({
                        filter: 'tableContent-confirmContract', //与待校验table元素的lay-filter属性对应
                        cols: [ //需要校验的列设置
                            {
                                field: 'contractNo',
                                maxLength: 40,
                                notEmpty: true
                            }, {
                                field: 'deptId',
                                maxLength: 40, //非必填，限制输入长度
                                notEmpty: true
                            }, {
                                field: 'secondParty',
                                maxLength: 40,
                                notEmpty: true
                            }, {
                                field: 'contractName',
                                maxLength: 40,
                                notEmpty: true
                            }, {
                                field: 'conMoney',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'ifWillApprove',
                                maxLength: 15,
                                notEmpty: true
                            }, {
                                field: 'willTime',
                                maxLength: 15,
                                notEmpty: true
                            }, {
                                field: 'willProjectName',
                                maxLength: 40,
                                notEmpty: true
                            }, {
                                field: 'hasInvoice',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'prepaid',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'wkpje',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'wzcje',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'expenseNov',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'expenditureNov',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'yjbxfpje2018s4',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'yjzfje2018s4',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'yjbxfpje2019',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'yjzfje2019',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'zerenren',
                                maxLength: 10
                            }, {
                                field: 'remark',
                                maxLength: 450
                            }
                            //some other cols..
                        ],
                        success: function(obj) {
                            var updateData = {
                                id: obj.data.id
                            };
                            updateData[obj.field] = obj.value;
                            admin.req('/api/budget/buinessPerfonmanceContract', updateData, function(res) {
                                if (res.ok) {

                                } else {
                                    layer.msg('更新失败' + res.message, {
                                        icon: 5
                                    });
                                }
                            }, {
                                method: 'PUT'
                            });
                        },
                        error: function(obj) {},
                        final: function(obj) {}
                    });
                },
                // 列宽最少 120，防止在小屏幕上显示不全列标题
                cellMinWidth: 120
            });
        }
        
        // 初始化，执行一次渲染表格
        initPage();
        
        //Select回显+权限控制
        var setSelected = function(arr) {
            for (var i = 0; i < arr.length; i++) {
                $("[data-field = " + arr[i] + "]").children().each(function() {
                    var value = $($(this).find("input")[0]).val();
                    var select = $(this).children("select")[0];
                    if (value != "null") {
                        $(select).val(value);
                    }
                    if (!tableAuth[arr[i]]) {
                        $(select).attr("disabled", "disabled");
                    }
                });
            }
        }
        
        //获得表格渲染所需列数据
        function getCols(direction, num) {
            var cols = [
                [{
                    checkbox: true,
                    fixed: 'left',
                    rowspan: '2'
                }, {
                    type: 'numbers',
                    title: '序号',
                    fixed: 'left',
                    rowspan: '2'
                }, {
                    field: 'id',
                    hide: true
                }, {
                    field: 'contractNo',
                    title: '合同编号',
                    align: 'center',
                    width: '140',
                    rowspan: '2',
                    edit: tableAuth.contractNo,
                    templet:function(d) {
                        var text= d.contractNo ? d.contractNo : "";
                        return '<div title="'+text+'"><span>'+ text +'</span></div>'
                    }
                }, {
                    field: 'deptId',
                    title: '部门',
                    align: 'center',
                    rowspan: '2',
                    width: 150,
                    edit: tableAuth.deptId,
                    templet:function(d) {
                        var text= d.deptId ? d.deptId : "";
                        return '<div title="'+text+'"><span>'+ text +'</span></div>'
                    }
                }, {
                    field: 'secondParty',
                    title: '乙方',
                    align: 'center',
                    width: '160',
                    rowspan: '2',
                    edit: tableAuth.secondParty,
                    templet:function(d) {
                        var text= d.secondParty ? d.secondParty : "";
                        return '<div title="'+text+'"><span>'+ text +'</span></div>'
                    }
                }, {
                    field: 'contractName',
                    title: '合同名称',
                    align: 'center',
                    rowspan: '2',
                    width: 260,
                    edit: tableAuth.contractName,
                    templet:function(d) {
                        var text= d.contractName ? d.contractName : "";
                        return '<div title="'+text+'"><span>'+ text +'</span></div>'
                    }
                }, {
                    field: 'conMoney',
                    title: '合同金额',
                    align: 'center',
                    width: '90',
                    rowspan: '2',
                    edit: tableAuth.conMoney,
                    templet:function(d) {
                        var text= d.conMoney ? d.conMoney : "";
                        return '<div title="'+text+'"><span>'+ text +'</span></div>'
                    }
                }, {
                    field: 'startDate',
                    title: '生效日期',
                    align: 'center',
                    width: '120',
                    rowspan: '2',
                    edit: tableAuth.startDate
                }, {
                    field: 'endDate',
                    title: '终止日期',
                    align: 'center',
                    width: '120',
                    rowspan: '2',
                    edit: tableAuth.endDate
                }, {
                    field: 'ifWillApprove',
                    title: '是否上会审批',
                    align: 'center',
                    width: '120',
                    rowspan: '2',
                    edit: tableAuth.ifWillApprove
                }, {
                    field: 'willTime',
                    title: '上会时间',
                    align: 'center',
                    width: '120',
                    rowspan: '2',
                    edit: tableAuth.willTime
                }, {
                    field: 'willProjectName',
                    title: '上会项目名称',
                    align: 'center',
                    width: '120',
                    rowspan: '2',
                    edit: tableAuth.willProjectName
                }, {
                    field: 'conState',
                    templet: '#conState',
                    title: '合同状态',
                    align: 'center',
                    width: 125,
                    rowspan: '2'
                }, {
                    field: 'contractBelong',
                    templet: '#contractBelong',
                    title: '合同归属',
                    align: 'center',
                    width: 125,
                    rowspan: '2'
                }, {
                    field: 'conType',
                    templet: '#conType',
                    title: '合同费用类型',
                    align: 'center',
                    width: '150',
                    rowspan: '2'
                }, {
                    field: 'isStock',
                    templet: '#isStock',
                    title: '若为试验车和库存商品，2018年前是否处置',
                    align: 'center',
                    width: '300',
                    rowspan: '2'
                }, {
                    field: 'hasInvoice',
                    title: '已开票',
                    align: 'center',
                    rowspan: '2',
                    edit: tableAuth.hasInvoice
                }, {
                    field: 'prepaid',
                    title: '已支付',
                    align: 'center',
                    rowspan: '2',
                    edit: tableAuth.prepaid
                }, {
                    field: 'wkpje',
                    title: '未开票',
                    align: 'center',
                    rowspan: '2',
                    edit: tableAuth.wkpje
                }, {
                    field: 'wzcje',
                    title: '未支付',
                    align: 'center',
                    rowspan: '2',
                    edit: tableAuth.wzcje
                }, {
                    field: 'yjbxhzfqk',
                    title: '预计报销和支付情况',
                    align: 'center',
                    colspan: '6'
                }, {
                    field: 'zerenren',
                    title: '责任人',
                    align: 'center',
                    rowspan: '2',
                    edit: tableAuth.zerenren
                }, {
                    field: 'remark',
                    title: '备注',
                    align: 'center',
                    rowspan: '2',
                    edit: tableAuth.remark
                }],
                [{
                    field: 'expenseNov',
                    title: '12月报销',
                    align: 'center',
                    edit: tableAuth.expenseNov
                }, {
                    field: 'expenditureNov',
                    title: '12月支出',
                    align: 'center',
                    edit: tableAuth.expenditureNov
                }, {
                    field: 'yjbxfpje2018s4',
                    title: '2019年1月报销',
                    align: 'center',
                    width: '130',
                    edit: tableAuth.yjbxfpje2018s4
                }, {
                    field: 'yjzfje2018s4',
                    title: '2019年1月支付',
                    align: 'center',
                    width: '130',
                    edit: tableAuth.yjzfje2018s4
                }, {
                    field: 'yjbxfpje2019',
                    title: '2019年2月报销',
                    align: 'center',
                    width: '130',
                    edit: tableAuth.yjbxfpje2019
                }, {
                    field: 'yjzfje2019',
                    title: '2019年2月支付',
                    align: 'center',
                    width: '130',
                    edit: tableAuth.yjzfje2019
                }]
            ]
            if (direction == "forward") {
                for (var i = 0; i <= num; i++) {
                    cols[0][i].fixed = "left";
                }
            } else if (direction == "behind") {
                for (var i = cols[0].length - 1; i >= (cols[0].length - num); i--) {
                    cols[0][i].fixed = "right";
                }
            }
            return cols;
        }

        //监听冻结方向下拉框选择
        form.on('select(colsDir)', function(data) {
            var option;
            if (data.value == "forward") {
                option = '<option value="1">1</option>' +
                    '<option value="2">2</option>' +
                    '<option value="3">3</option>' +
                    '<option value="4">4</option>' +
                    '<option value="5">5</option>' +
                    '<option value="6">6</option>' +
                    '<option value="7">7</option>';
            } else {
                option = '<option value="1">1</option>' +
                    '<option value="2">2</option>';
            }
            $("#colsNum").empty().append(option);
            form.render("select");
        });

        //layui下拉框监听选择
        form.on('select(colsNum)', function(data) {
            var params = {};
            params.direction = $("#colsDir").val();
            params.num = data.value;
            renderTable(searchObj, params);
        });

        //下拉框监听修改提交
        $("body").on("change", ".selectContract", function() {
            var id = $(this).parent().parent().siblings("[data-field='id']")[0].innerText;
            var updateData = {
                id: id
            };
            var this_field = $(this).attr('name');
            this_field = this_field.substr(0, this_field.length - 9);
            updateData[this_field] = $(this).val();
            admin.req('/api/budget/buinessPerfonmanceContract', updateData, function(res) {
                if (res.ok) {
                } else {
                    layer.msg('更新失败' + res.message, {
                        icon: 5
                    });
                }
            }, {
                method: 'PUT'
            });
        });

        // 新增 按钮事件
        $('#btn_add_contract').on('click', function() {
            var orgs = config.getAccount().orgs;
            var org = "";
            if (orgs.length > 0) {
                org = orgs[0].name;
            }

            layer.open({
                type: 1,
                area: ['500px', '500px'], //宽高
                success: function(layero, index) {
                    laydate.render({
                        elem: '#startDate',
                        type: 'date'
                    });
                    laydate.render({
                        elem: '#endDate',
                        type: 'date'
                    });
                    //添加form标识
                    layero.addClass("layui-form");
                    layero.find(".layui-layer-btn0").attr("lay-filter", "addEdit").attr("lay-submit", "");
                },
                content: '<div class="layui-tpl-container layui-form" style="padding-bottom: 60px;">\n' +
                    '    <div class="layui-form-item tpl-password">\n' +
                    '        <label class="layui-form-label"><span style="color: red;">*</span> 合同编号</label>\n' +
                    '        <div class="layui-input-block">\n' +
                    '            <input type="text" name="contractNo" placeholder="请输入合同编号" class="layui-input" lay-verify="required">\n' +
                    '        </div>\n' +
                    '    </div>\n' +
                    '    <div class="layui-form-item tpl-password">\n' +
                    '        <label class="layui-form-label"><span style="color: red;">*</span> 乙方</label>\n' +
                    '        <div class="layui-input-block">\n' +
                    '            <input type="text" name="secondParty" placeholder="请输入乙方" class="layui-input" lay-verify="required">\n' +
                    '        </div>\n' +
                    '    </div>\n' +
                    '    <div class="layui-form-item tpl-password">\n' +
                    '        <label class="layui-form-label"><span style="color: red;">*</span> 合同名称</label>\n' +
                    '        <div class="layui-input-block">\n' +
                    '            <input type="text" name="contractName" placeholder="请输入合同名称" class="layui-input" lay-verify="required">\n' +
                    '        </div>\n' +
                    '    </div>\n' +
                    '\n' +
                    '    <div class="layui-form-item tpl-password">\n' +
                    '        <label class="layui-form-label"><span style="color: red;">*</span> 合同金额</label>\n' +
                    '        <div class="layui-input-block">\n' +
                    '            <input type="text" name="conMoney" placeholder="请输入合同金额" class="layui-input" lay-verify="required|number">\n' +
                    '        </div>\n' +
                    '    </div>\n' +
                    '\n' +
                    '    <div class="layui-form-item tpl-password">\n' +
                    '        <label class="layui-form-label"><span style="color: red;">*</span> 生效日期</label>\n' +
                    '        <div class="layui-input-block">\n' +
                    '            <input type="text" name="startDate" id="startDate" placeholder="请输入生效日期" class="layui-input" lay-verify="required">\n' +
                    '        </div>\n' +
                    '    </div>\n' +
                    '    <div class="layui-form-item tpl-password">\n' +
                    '        <label class="layui-form-label"><span style="color: red;">*</span> 终止日期</label>\n' +
                    '        <div class="layui-input-block">\n' +
                    '            <input type="text" name="endDate" id="endDate" placeholder="请输入终止日期" class="layui-input" lay-verify="required">\n' +
                    '        </div>\n' +
                    '    </div>\n' +
                    '</div>',
                btn: ['提交', '关闭'],
                btnAlign: 'c', // l => 居左, c => 居中, r => 居右, 默认居右,
                // 每个按钮触发的事件
                btn1: function(index) {
                    form.on("submit(addEdit)", function(formData) {
                        var d = formData.field;
                        d.deptId = org;
                        var processInstanceId = config.businessParam.processInstanceId;
                        if (processInstanceId != null && processInstanceId != "") {
                            d.processInstanceId = processInstanceId;
                        }
                        admin.req('/api/budget/buinessPerfonmanceContract', d, function(res) {
                            if (res.ok) {
                                layer.msg('新增成功！');
                                layer.close(index);
                                table.reload('tableContent-confirmContract', {
                                    where: {
                                        reload: new Date().getTime()
                                    }
                                });
                            } else {
                                layer.msg('更新失败' + res.message, {
                                    icon: 5
                                });
                            }
                        }, {
                            method: 'POST'
                        })
                    })

                }
            });


        });

        // 下载 按钮事件
        $('#btn_download_contract').on('click', function() {
            var url = '/api/budget/buinessPerfonmanceContract/excelExport';
            url += '?fileName=' + '2018年支出合同执行_' + pageAuth.getNowFormatDate();
            if (config.businessParam.hasOwnProperty('processInstanceId') && config.businessParam.processInstanceId != null && config.businessParam.processInstanceId != '') {
                url += '&processInstanceIdIsNull=false&processInstanceId=' + config.businessParam.processInstanceId;
            } else {
                url += '&processInstanceIdIsNull=true';
            }
            window.location.href = url;
        });

        //文件上传
        upload.render({
            elem: '#btn_upload_contract',
            url: '/api/budget/buinessPerfonmanceContract/excelImport',
            field: 'file',
            accept: 'file',
            exts: 'xls|xlsx',
            acceptMime: 'application/vnd.ms-excel,application/x-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
            done: function(res) {
                if (res.ok) {
                    layer.msg('数据上传成功！', {
                        icon: 1
                    });
                    table.reload('tableContent-confirmContract', {
                        where: {
                            reload: new Date().getTime()
                        }
                    });
                } else {
                    layer.msg('数据上传失败：' + res.message, {
                        icon: 5
                    });
                }
            }
        });

        // 批量删除 按钮事件
        $('#btn_del_contract_batch').on('click', function() {
            var checkStatus = table.checkStatus('tableContent-confirmContract');
            if (checkStatus.data.length === 0) {
                return layer.msg('请选择要删除的数据！', {
                    icon: 0
                });
            }
            var delArr = [];
            for (var i = 0; i < checkStatus.data.length; i++) {
                delArr.push(checkStatus.data[i].id);
            }

            layer.confirm('确定删除选中的 ' + checkStatus.data.length + ' 条数据吗？', {
                icon: 3,
                title: '提示'
            }, function() {
                admin.req('/api/budget/buinessPerfonmanceContract/deleteBatch', delArr, function(data) {
                    if (data.ok) {
                        layer.msg('数据删除成功！', {
                            icon: 1
                        });
                        table.reload('tableContent-confirmContract', {
                            where: {
                                reload: new Date().getTime()
                            }
                        });
                    } else {
                        return layer.msg('数据删除失败：' + data.message, {
                            icon: 5
                        });
                    }
                }, {
                    method: 'delete'
                });
            });
        });

    });

</script>
