<style>
    .vehicleRepair,.propertyId_select {
        height: 30px;
        border: 1px solid #999;
        border-radius: 3px;
    }
    body{
        overflow-y: hidden;
    }
</style>
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card p-main">
            <!-- 卡片容器 -->
            <div class="layui-card-body" style="height: auto; overflow: hidden;">
                <!-- 数据表格顶部控制栏 -->
                <div class="layui-form">
                    <div class="layui-form-item table-top-bar">
                        <input type="hidden" id="processType">

                        <div class="layui-inline ">
                            <div class="layui-inline">

                                <button id="btn_add_budget" class="layui-btn layui-btn-sm layui-btn-primary" lay-filter="btn_add_budget" lay-submit title="新增">
                                    <i class="layui-icon layui-icon-add-1"></i>新增
                                </button>

                                <button id="btn_edit_budget" class="layui-btn layui-btn-sm layui-btn-primary" lay-filter="btn_add_budget" lay-submit title="新增">
                                    <i class="layui-icon layui-icon-edit"></i>编辑
                                </button>

                                <button id="btn_del_user_batch" class="layui-btn layui-btn-sm layui-btn-danger" lay-filter="btn_del_user_batch" lay-submit title="删除">
                                    <i class="layui-icon layui-icon-delete"></i>删除
                                </button>

                                <button id="projectHref" class="layui-btn layui-btn-sm layui-btn-primary" lay-filter="btn_add_budget" lay-submit title="新增">
                                    <!--<i class="layui-icon layui-icon-add-1"></i>-->
                                    项目列表
                                </button>
                                <button id="taskHref" class="layui-btn layui-btn-sm layui-btn-primary" lay-filter="btn_add_budget" lay-submit title="新增">
                                    <!--<i class="layui-icon layui-icon-add-1"></i>-->
                                    任务列表
                                </button>

                            </div>
                        </div>
                        <!-- 右侧 -->
                        <div class="layui-inline layui-pull-right">
                            <div class="layui-inline">
                                <!--<i class="layui-icon layui-icon-search"></i>-->
                                <!--<input type="text" name="projectName" placeholder="输入业务名称" class="layui-input">-->
                                <select  name="budgetListSelect" id="budgetListSelect" data-placeholder="选择业务名称" lay-filter="budgetListSelect" lay-search>
                                </select>
                            </div>
                            <!--<div class="layui-inline">-->
                                <!--<button class="layui-btn layui-btn-sm layui-btn-normal" lay-filter="btn_search"-->
                                        <!--lay-submit title="查询">查询</button>-->
                            <!--</div>-->
                            <!--<div class="layui-inline">-->
                                <!--<button class="layui-btn layui-btn-sm layui-btn-primary" lay-filter="btn_reset"-->
                                        <!--lay-submit title="重置">重置</button>-->
                            <!--</div>-->
                        </div>

                    </div>
                </div>
                <!-- 下部表格容器 -->
                <table id="tableContent" layui-hide lay-filter="tableContent"></table>
            </div>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="control-1">
    <a class="table-control-btn" lay-event="track">保存</a>
</script>

<script type="text/html" id="propertyId">
    <input type="hidden" value={{d.propertyId}}>
    <!--<a class="table-control-btn inuse" lay-event="enable">持续</a>-->
    <!--<a class="table-control-btn unuse" lay-event="disable">新增</a>-->
    <select name="vehicleRepair" class="propertyId_select" lay-filter="propertyId_select" lay-ignore="">
        <option value="">-- 请选择 --</option>
        <option value="cx">持续</option>
        <option value="xz">新增</option>
    </select>
</script>

<script type="text/html" id="deptId">
    <!--<select name="orgId" xm-select="orgId" xm-select-skin="normal" xm-select-radio="">-->
    <select name="deptId" xm-select="deptId" xm-select-skin="normal" xm-select-radio="" id="orgId" lay-filter="orgId">
        <option value="">选择机构名</option>
    </select>
</script>

<script type="text/html" id="vehicleStatus">
    {{d.status.display}}
</script>

<script>
    // 初始化 layui
    layui.use(['table','formSelects','laydate'], function() {
        var table = layui.table,
            form = layui.form,
            config = layui.config,
            formSelects = layui.formSelects,

            admin = layui.admin;


        // 渲染左侧表格树 这个表格接口 是post 请求 application.json
        var renderTable = function(data) {
            var heightTable = $(document).height()-145;
            if (!data) {
                data = {};
            }
            var processType = $("#loadWithParams").val();
            //判断事项类型
            var editFlag = true;
            if (processType == "finish") {
                editFlag = false;
                $(".layui-pull-right").hide();
            }


            admin.req('/api/budget/budget', {

            }, function(res) {
                var arr = res.data;
                elem2 = $('#budgetListSelect');
                elem2.empty();
                elem2.append('<option value=""></option>');
                for (var i=0;i<arr.length;i++ ) {
                    elem2.append('<option value="' + arr[i].projectName + '">' + arr[i].projectName + '</option>')
                }
                form.render('select');
            });

            form.on('select(budgetListSelect)', function(data) {
                if (data.value) {
                    table.reload('tableContent',{where:{projectName: data.value
                        }} );
                } else {
                    table.reload('tableContent',{where:{projectName:""
                        }} );
                }
            });

            // 搜索
            form.on('submit(btn_search)', function (data) {
                var searchValue = data.field;
                table.reload('tableContent', {
                    where: searchValue
                });
            });
            // 重置
            form.on('submit(btn_reset)', function () {
                $('input[name="projectName"]').val('');
                table.reload('tableContent',{where:{projectName:""
                    }} );
            });

            $('input[name="projectName"]').keyup(function (event) {

                if (event.keyCode === 13) {


                    table.reload('tableContent',{where:{projectName: $('input[name="projectName"]').val()
                        }} );
                }
            });
            var tableIns = table.render({
                // table参数
                elem: '#tableContent',
                url: admin.formatUrl('/api/budget/budget/page'),
                where: data,
                parseData: function(res) { //res 即为原始返回的数据
                    return {
                        "code": res.respCode, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.data.count, //解析数据长度
                        "data": res.data.list //解析数据列表
                    };
                },
                method:'post',
                contentType : "application/json",
                page: {
                    layout: ['prev', 'page', 'next', 'skip']
                },
                request: {
                    pageName: 'page',
                    limitName: 'pageSize'
                },
                text: {
                    none: '当前未创建业务'
                },
                cols: [
                    [{
                        checkbox: true,
                        fixed: 'left',
                        rowspan: '2'
                    }, {
                        type: 'numbers',
                        title: '序号',
                        fixed: 'left',
                        rowspan: '2'
                    }, {
                        field: 'id',
                        hide: true
                    }, {
                        field: 'deptName',
                        // templet:'#deptId',
                        title: '责任部门',
                        align: 'center',
                        rowspan: '2',
                        width: 150,
                        templet:function(d) {
                            var text= d.deptName ? d.deptName : "";
                            return '<div title="'+text+'"><span>'+ text +'</span></div>'
                        }
                    }, {
                        field: 'projectName',
                        title: '业务名称',
                        align: 'center',
                        rowspan: '2',
                        width: 200,
                       //edit: editFlag,
                        templet:function(d) {
                            var text= d.projectName ? d.projectName : "";
                            return '<div title="'+text+'"><span>'+ text +'</span></div>'
                        }
                    }, {
                        field: 'teamName',
                        title: '项目组名称',
                        align: 'center',
                        rowspan: '2',
                        width: 200,
                       //edit: editFlag,
                        templet:function(d) {
                            var text= d.teamName ? d.teamName : "";
                            return '<div title="'+text+'"><span>'+ text +'</span></div>'
                        }
                    }, {
                        field: 'propertyId',
                        title: '业务性质',
                        align: 'center',
                        width: 125,
                        rowspan: '2',
                        templet:function(d) {
                            var text= d.propertyId=='cx' ?'持续': "新增";
                            return '<div title="'+text+'"><span>'+ text +'</span></div>'
                        }
                    }, {
                        field: 'usname',
                        title: '业务经理',
                        align: 'center',
                        rowspan: '2',
                       //edit: editFlag,
                        templet:function(d) {
                            var text= d.usname ? d.usname : "";
                            return '<div title="'+text+'"><span>'+ text +'</span></div>'
                        }
                    },
                        {
                            title: '业务周期',
                            align: 'center',
                            colspan: '2'
                        },
                        {
                        field: 'currentYearEstimate',
                        title: '2018年收入实际预估（万元）',
                        align: 'center',
                        width: '200',
                        rowspan: '2',
                       //edit: editFlag
                    }, {
                        field: 'contractBudget',
                        title: '2019年合同预算（万元）',
                        align: 'center',
                        width: '200',
                        rowspan: '2',
                        templet: function(d){
                            var num=0;
                            for(var i=0;i<12;i++)
                            {
                                if (d['nextYear'+i+'Deal'])
                                {
                                    num+=d['nextYear'+i+'Deal'];
                                }
                            }
                            return num;
                        }
                    }, {
                        field: 'incomeBudget',
                        title: '2019年收入预算（万元）',
                        align: 'center',
                        width: '200',
                        rowspan: '2',
                        templet: function(d){
                            var num=0;
                            for(var i=0;i<12;i++)
                            {
                                if (d['nextYear'+i+'Income'])
                                {
                                    num+=d['nextYear'+i+'Income'];
                                }
                            }
                            return num;
                        }
                    }, {
                        field: 'season1',
                        title: '2019年1月',
                        align: 'center',
                        colspan: '2'
                    }, {
                        field: 'season2',
                        title: '2019年2月',
                        align: 'center',
                        colspan: '2'
                    }, {
                        field: 'season3',
                        title: '2019年3月',
                        align: 'center',
                        colspan: '2'
                    }, {
                        field: 'season4',
                        title: '2019年4月',
                        align: 'center',
                        colspan: '2'
                    },

                        {
                            field: 'season1',
                            title: '2019年5月',
                            align: 'center',
                            colspan: '2'
                        }, {
                        field: 'season2',
                        title: '2019年6月',
                        align: 'center',
                        colspan: '2'
                    }, {
                        field: 'season3',
                        title: '2019年7月',
                        align: 'center',
                        colspan: '2'
                    }, {
                        field: 'season4',
                        title: '2019年8月',
                        align: 'center',
                        colspan: '2'
                    },
                        {
                            field: 'season1',
                            title: '2019年9月',
                            align: 'center',
                            colspan: '2'
                        }, {
                        field: 'season2',
                        title: '2019年10月',
                        align: 'center',
                        colspan: '2'
                    }, {
                        field: 'season3',
                        title: '2019年11月',
                        align: 'center',
                        colspan: '2'
                    }, {
                        field: 'season4',
                        title: '2019年12月',
                        align: 'center',
                        colspan: '2'
                    },
                        {
                        field: 'remark',
                        title: '备注',
                        align: 'center',
                        rowspan: '2',
                       //edit: editFlag
                        templet: function(d) {
                            var text = d.remark ? d.remark:"";
                            return '<div title="'+text+'"><span>'+text+'</span></div>'
                        },

                    }],
                    [{
                        field: 'cycleBegin',
                        title: '开始',
                        align: 'center',
                        templet: function(d) {
                            if (!d.cycleBegin)
                            {
                                return "";
                            }
                            var time= d.cycleBegin ? new Date(parseInt(d.cycleBegin)).toLocaleDate() : "";
                            return '<div title="'+time+'"><span>'+ time +'</span></div>'
                        },
                       //edit: editFlag
                    }, {
                        field: 'cycleEnd',
                        title: '结束',
                        align: 'center',
                        templet: function(d) {
                            if (!d.cycleEnd)
                            {
                                return "";
                            }
                            var time= d.cycleEnd ? new Date(parseInt(d.cycleEnd)).toLocaleDate() : "";
                            return '<div title="'+time+'"><span>'+ time +'</span></div>'
                        },
                       //edit: editFlag
                    },
                        {
                            field: 'nextYear1Deal',
                            title: '合同（万元）',
                            align: 'center',
                           //edit: editFlag
                        }, {
                        field: 'nextYear1Income',
                        title: '收入（万元）',
                        align: 'center',
                       //edit: editFlag
                    },
                        {
                        field: 'nextYear2Deal',
                        title: '合同（万元）',
                        align: 'center',
                       //edit: editFlag
                    }, {
                        field: 'nextYear2Income',
                        title: '收入（万元）',
                        align: 'center',
                       //edit: editFlag
                    }, {
                        field: 'nextYear3Deal',
                        title: '合同（万元）',
                        align: 'center',
                       //edit: editFlag
                    }, {
                        field: 'nextYear3Income',
                        title: '收入（万元）',
                        align: 'center',
                       //edit: editFlag
                    }, {
                        field: 'nextYear4Deal',
                        title: '合同（万元）',
                        align: 'center',
                       //edit: editFlag
                    }, {
                        field: 'nextYear4Income',
                        title: '收入（万元）',
                        align: 'center',
                       //edit: editFlag
                    },

                        {
                            field: 'nextYear5Deal',
                            title: '合同（万元）',
                            align: 'center',
                           //edit: editFlag
                        }, {
                        field: 'nextYear5Income',
                        title: '收入（万元）',
                        align: 'center',
                       //edit: editFlag
                    },
                        {
                            field: 'nextYear6Deal',
                            title: '合同（万元）',
                            align: 'center',
                           //edit: editFlag
                        }, {
                        field: 'nextYear6Income',
                        title: '收入（万元）',
                        align: 'center',
                       //edit: editFlag
                    },
                        {
                            field: 'nextYear7Deal',
                            title: '合同（万元）',
                            align: 'center',
                           //edit: editFlag
                        },
                        {
                        field: 'nextYear7Income',
                        title: '收入（万元）',
                        align: 'center',
                      //edit: editFlag
                    }, {
                        field: 'nextYear8Deal',
                        title: '合同（万元）',
                        align: 'center',
                      //edit: editFlag
                    }, {
                        field: 'nextYear8Income',
                        title: '收入（万元）',
                        align: 'center',
                      //edit: editFlag
                    }, {
                        field: 'nextYear9Deal',
                        title: '合同（万元）',
                        align: 'center',
                      //edit: editFlag
                    }, {
                        field: 'nextYear9Income',
                        title: '收入（万元）',
                        align: 'center',
                      //edit: editFlag
                    },
                        {
                            field: 'nextYear10Deal',
                            title: '合同（万元）',
                            align: 'center',
                          //edit: editFlag
                        }, {
                        field: 'nextYear10Income',
                        title: '收入（万元）',
                        align: 'center',
                      //edit: editFlag
                    },
                        {
                            field: 'nextYear11Deal',
                            title: '合同（万元）',
                            align: 'center',
                          //edit: editFlag
                        }, {
                        field: 'nextYear11Income',
                        title: '收入（万元）',
                        align: 'center',
                      //edit: editFlag
                    },
                        {
                            field: 'nextYear12Deal',
                            title: '合同（万元）',
                            align: 'center',
                          //edit: editFlag
                        }, {
                        field: 'nextYear12Income',
                        title: '收入（万元）',
                        align: 'center',
                      //edit: editFlag
                    },

                    ]
                ],
                height: heightTable,
                // 渲染表格完成后，去除加载动画
                done: function(res, curr, count) {
                    if (processType == "finish") {
                        $(".vehicleRepair").attr("disabled", "disabled")
                        $(".propertyId_select").attr("disabled", "disabled")
                    }
                    // 回显项目所属平台/领域
                    $("[data-field = 'domainId']").children().each(function() {
                        var value = $($(this).find("input")[0]).val();
                        if (value != "null") {
                            var select = $(this).children("select")[0];
                            $(select).val(value);
                        }
                    });
                    //回显业务性质
                    $("[data-field = 'propertyId']").children().each(function() {
                        var value = $($(this).find("input")[0]).val();
                        if (value != "null") {
                            var select = $(this).children("select")[0];
                            $(select).val(value);
                        }
                    });
                    //修复表格中放下拉框，下拉框下部被隐藏一部分的bug
                    var tableElem = this.elem.next('.layui-table-view');
                    //                count || tableElem.find('.layui-table-header').css('overflow', 'auto');
                    layui.each(tableElem.find('tbody select'), function(index, item) {
                        var elem = $(item);
                        elem.parents('div.layui-table-cell').css('overflow', 'visible');
                    });
                    //重新渲染表格下拉框
                    form.render();
                    //修复表格固定列的问题
                    $(window).resize();
                    //初始化表格编辑校验
                    LayValidator.init({
                        filter: 'tableContent', //与待校验table元素的lay-filter属性对应
                        cols: [ //需要校验的列设置
                            {
                                field: 'projectName',
                                maxLength: 40 //非必填，限制输入长度
                            }, {
                                field: 'teamName',
                                maxLength: 10
                            }, {
                                field: 'pm',
                                maxLength: 10
                            }, {
                                field: 'currentYearDeal',
                                type: 'float2', //非必填，输入类型限制，支持：integer，float（整数+小数），float2（小数点后两位）
                                notEmpty: true
                            }, {
                                field: 'currentYearEstimate',
                                type: 'float2', //非必填，输入类型限制，支持：integer，float（整数+小数），float2（小数点后两位）
                                notEmpty: true
                            }, {
                                field: 'nextYear1Deal',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'nextYear2Deal',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'nextYear3Deal',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'nextYear4Deal',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'nextYear1Income',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'nextYear2Income',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'nextYear3Income',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'nextYear4Income',
                                type: 'float2',
                                notEmpty: true
                            }, {
                                field: 'remark',
                                maxLength: 450
                            }
                            //some other cols..
                        ],
                        success: function(obj) {
                            var updateData = {
                                id: obj.data.id
                            };
                            updateData[obj.field] = obj.value;
                            admin.req('/api/budget/budget', updateData, function(res) {
                                if (res.ok) {
                                    LayCalculator.calc(obj,'{nextYear1Deal}+{nextYear2Deal}+{nextYear3Deal}+{nextYear4Deal}','contractBudget');
                                    LayCalculator.calc(obj,'{nextYear1Income}+{nextYear2Income}+{nextYear3Income}+{nextYear4Income}','incomeBudget');
                                } else {
                                    layer.msg('更新失败' + res.message, {
                                        icon: 5
                                    });
                                }
                            }, {
                                method: 'PUT'
                            });
                        },
                        error: function(obj) {

                        },
                        final: function(obj) {
                        }
                    });
                },
                // 列宽最少 120，防止在小屏幕上显示不全列标题
                cellMinWidth: 120
            });
        }
        // 初始化，执行一次渲染表格树
        setTimeout(function () {
            renderTable();
        },300)

        // 新增 按钮事件
        $('#btn_add_budget').on('click', function() {
            localStorage.setItem('type','post')
            popMenu('add')
        });
        $('#projectHref').on('click', function() {
            var checkStatus = table.checkStatus('tableContent');
            if (checkStatus.data.length != 1) {
                return layer.msg('请选择1个要查询的项目', {
                    icon: 0
                });
            }

            window.location.href='#!ADC_project_list_html?'+checkStatus.data[0].id

        });
        $('#taskHref').on('click', function() {
            var checkStatus = table.checkStatus('tableContent');
            if (checkStatus.data.length != 1) {
                return layer.msg('请选择1个要查询的业务', {
                    icon: 0
                });
            }
            window.location.href='#!ADC_project_taskt_html?id='+checkStatus.data[0].id+"&flag=1"

        });
        $('#btn_edit_budget').on('click', function() {
            localStorage.setItem('type','put')
            var checkStatus = table.checkStatus('tableContent');
            if (checkStatus.data.length != 1) {
                return layer.msg('请选择1个要编辑的业务', {
                    icon: 0
                });
            }
            popMenu("edit", checkStatus.data[0]);

        });

        // 批量删除 按钮事件
        $('#btn_del_user_batch').on('click', function() {
            var checkStatus = table.checkStatus('tableContent');
            if (checkStatus.data.length === 0) {
                return layer.msg('请选择要删除的数据！', {
                    icon: 0
                });
            }
            var delArr = [];
            for (var i = 0; i < checkStatus.data.length; i++) {
                delArr.push(checkStatus.data[i].id);
            }

            layer.confirm('确定删除选中的 ' + checkStatus.data.length + ' 条数据吗？', {
                icon: 3,
                title: '提示'
            }, function() {
                admin.req('/api/budget/budget/' + delArr.join(','), {},
                    function(data) {
                        if (data.ok) {
                            layer.msg('数据删除成功！', {
                                icon: 1
                            });
                            table.reload('tableContent', {
                                where: {
                                    reload: new Date().getTime()
                                }
                            });
                        } else {
                            return layer.msg('数据删除失败：' + data.message, {
                                icon: 5
                            });
                        }
                    }, {
                        method: 'delete'
                    });
            });
        });

        function popMenu(type, data) {
            var params = {};

            var title = '新增业务';
            if (data)
            {
                title='编辑业务填报'+data.projectName;
                params=data;
            }
            params.handleType=type;
            admin.popupCenter({
                title: title,
                width:800,
                path: 'components/tpl/budget_save_form.html',
                finish: function() {
                    table.reload('tableContent-pro', {
                        where: {
                            reload: new Date().getTime()
                        }
                    });
                },
                success: function() {
                    var propertyOption='   <option value="">-- 请选择 --</option>\n' +
                        '        <option value="cx">持续</option>\n' +
                        '        <option value="xz">新增</option>';

                    var  propertyElem = $('#property_pop');
                    propertyElem.append(propertyOption);
                    formSelects.render('property_pop');
                    formSelects.btns('property_pop', []);
                    $('#popmenuCancle').on('click',function () {
                        admin.closePopupCenter();
                    });
                    setFormValue(params)
                    getDepMember(params);
                }
            });
        }

        form.on('submit(menuSave-budget)', function(data) {
            var d = data.field,
                elem = data.elem;
            if(d.cycle)
            {
                var cycle=d.cycle.split(' - ');
                if (cycle)
                {
                    d.cycleBegin=cycle[0];
                    d.cycleEnd=cycle[1];
                }
            }
            var ajaxType = localStorage.getItem('type');
            // if (d.handleType == 'edit') {
            //     ajaxType = 'put';
            // }
            admin.req('/api/budget/budget', d, function(res) {
                if (res.ok) {
                    table.reload('tableContent', {
                        where: {
                            reload: new Date().getTime()
                        }
                    });
                    admin.finishPopupCenter();

                } else {
                    layer.msg('保存失败' + res.message, {
                        icon: 5
                    });
                }
            }, {
                method: ajaxType
            });
        });



            //项目所属平台/领域下拉框监听修改提交
        $("body").on("change", ".vehicleRepair", function() {
            var id = $(this).parent().parent().siblings("[data-field='id']")[0].innerText;
            var updateData = {
                id: id,
                domainId: $(this).val()
            };
            admin.req('/api/budget/budget', updateData, function(res) {
                if (res.ok) {


                } else {
                    layer.msg('更新失败' + res.message, {
                        icon: 5
                    });
                }
            }, {
                method: 'PUT'
            });
        });

        function getDepMember(obj) {
            var url= url='/api/budget/budget/users';
            admin.req(url, {

            }, function(res) {
                var arr = res.data;
                elem = $('#leader_blong')
                if(arr){
                    elem.empty();
                    for (var i = 0; i < arr.length; i++) {
                        if(arr[i].name)
                        {
                            elem.append('<option value="' + arr[i].id + '">' + arr[i].name + '</option>');
                        }
                    }
                }
                formSelects.render('leader_blong');
                formSelects.btns('leader_blong', []);
                if (obj.pm)
                {
                    formSelects.value('leader_blong',[obj.pm])
                }


            });

        }

        form.on('radio(property)',function(data){
            $("#incomeType").find("input").val("");
           if ( data.value === "0"){
               $("input[name=currentYearEstimate]").removeAttr("disabled");
               $("input[name=currentYearDeal]").removeAttr("disabled");
               $("input[name=currentYearEstimate]").removeClass("layui-disabled");
               $("input[name=currentYearDeal]").removeClass("layui-disabled");
               $(".income").show();
               $(".noIncome").hide();
           } else {
               $("input[name=currentYearEstimate]").val(0);
               $("input[name=currentYearDeal]").val(0);
               $("input[name=currentYearEstimate]").attr("disabled","disabled");
               $("input[name=currentYearDeal]").attr("disabled","disabled");
               $("input[name=currentYearEstimate]").addClass("layui-disabled");
               $("input[name=currentYearDeal]").addClass("layui-disabled");
               $(".income").hide();
               $(".noIncome").show();
           }
           form.render();
        })

        //业务性质下拉框监听修改提交
        $("body").on("change", ".propertyId_select", function() {
            var id = $(this).parent().parent().siblings("[data-field='id']")[0].innerText;
            var updateData = {
                id: id,
                propertyId: $(this).val()
            };
            admin.req('/api/budget/budget', updateData, function(res) {
                if (res.ok) {


                } else {
                    layer.msg('更新失败' + res.message, {
                        icon: 5
                    });
                }
            }, {
                method: 'PUT'
            });
        });

        function setFormValue(obj) {


            var inputs = $('.layui-tpl-container').find('input'),
                title = $('.layui-tpl-container .layui-card-header'),
                formNames = ['id', 'handleType', 'projectName', 'remark','pm',
                    'teamName','cycle','currentYearDeal','currentYearEstimate',
                ];
            if(obj.cycleBegin&obj.cycleEnd)
            {

                obj.cycleBegin = new Date(parseInt(obj.cycleBegin)).toLocaleDate();
                obj.cycleEnd = new Date(parseInt(obj.cycleEnd)).toLocaleDate();
                obj.cycle=obj.cycleBegin+' - '+obj.cycleEnd;
            }
            if (obj.propertyId)
            {
                formSelects.value('property_pop', [obj.propertyId]);
            }
            for (i=1;i<13;i++)
            {
                var Deal='nextYear'+i+"Deal";
                var Income='nextYear'+i+"Income";
                formNames.push(Deal);
                formNames.push(Income);
            }
            obj.title && title.text(obj.title);
            for (var i = 0; i < formNames.length; i++) {
                if (obj[formNames[i]]) {
                    $('.layui-tpl-container  input[name="' + formNames[i] + '"]').val(obj[formNames[i]]);
                } else {
                    $('.layui-tpl-container  input[name="' + formNames[i] + '"]').val('');
                }
            }
            if(obj.remark)
            {
                $('.layui-tpl-container  textarea[name="remark"]').val(obj.remark);
            }
            if(obj.handleType=='add') {
                $('.noIncome').hide();
            }
            else {
                if(obj.property === "0") {
                    $('.noIncome').hide();
                }

                else {
                    $("input[name=currentYearEstimate]").val(0);
                    $("input[name=currentYearDeal]").val(0);
                    $("input[name=currentYearEstimate]").attr("disabled","disabled");
                    $("input[name=currentYearDeal]").attr("disabled","disabled");
                    $("input[name=currentYearEstimate]").addClass("layui-disabled");
                    $("input[name=currentYearDeal]").addClass("layui-disabled");
                    $(".income").hide();
                    $(".noIncome").show();
                    $('input:radio:eq(' + obj.property + ')').prop('checked', 'checked');
                }
            }
            form.render();
        }

        form.verify({
            isRealNumber:function(value){
                if (value!=null&value!=""&value!=undefined)
                {
                    if(isNaN(value)){
                        return '请输入合法数字';
                    }
                }
            },
        })



    });

</script>
