/* This is a function for icons position*/
.format-dialog {
    width: 570px;
}

.format-dialog .ui-tabs {
    border: 0;
    padding: 0px;
}

.format-dialog .tab-page {
    height: 350px;
    border: 1px solid #d3d3d3;
    border-top: none;
}

.format-dialog .category-label {
    margin-bottom: -0.5em;
    margin-top: 0.5em;
    display: block;
}

.format-dialog .category-label label {
    background-color: white;
    padding: 0.5em 0.5em 0.5em 0;
}

.format-dialog .category {
    padding-top: 1em;
    border-top: 1px groove lightgray;
    clear: both;
}

.format-dialog .category .group {
    float: left;
}

.format-dialog .category .group > div {
    margin: 1em;
}

.format-dialog .indent.group {
    margin-top: 1.5em;
}

.format-dialog .indent.group .column1 {
    width: 6em;
}

.format-dialog .indent.group .column2 {
    width: 6em;
}

.format-dialog .column1,
.format-dialog .column2 {
    display: inline-block;
}

.format-dialog .column1 {
    width: 6em;
}

.format-dialog .column2 {
    width: 10em;
}

.format-dialog .sample-fieldset {
    height: 90px;
    border: 1px solid #aaaaaa;
}

.format-dialog .sample-fieldset .show-color-span {
    display: block;
    width: inherit;
    height: 65px;
    margin: 10px 5px 10px 5px;
}

.format-dialog .no-color-button,
.format-dialog .more-color-button {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 176px;
    text-align: center;
}

.format-dialog .line-border-div {
    float: left;
    display: block;
    height: 220px;
    width: 155px;
}

.format-dialog .line-border-div .line-border-fieldset {
    width: 125px;
    height: 206px;
    border-color: #e6e6e6;
}

.format-dialog .line-border-presets-div {
    float: left;
    display: block;
    height: 70px;
    width: 250px;
    margin-left: 10px;
}

.format-dialog .line-border-presets-div .line-border-presets-fieldset {
    height: 70px;
    width: 245px;
    border: 0px;
    border-top: 1px groove lightgray;
    padding-left: 0;
    padding-top: 2px;
    padding-right: 0;
}

.format-dialog .line-border-presets-div .line-border-presets-fieldset .big-border-icon {
    height: 35px;
    width: 35px;
}

.format-dialog .line-border-presets-div .line-border-presets-fieldset .no-border-button {
    margin-left: 25px;
    margin-right: 40px;
}

.format-dialog .line-border-presets-div .line-border-presets-fieldset .outside-border-button {
    margin-right: 40px;
}

.format-dialog .line-border-presets-div .line-border-presets-fieldset .ui-button-text {
    padding: 0px;
}

.format-dialog .line-border-presets-div .line-border-presets-fieldset .big-border-icon-span {
    background-image: url(../images/icons.png);
    display: inline-block;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

.format-dialog .line-border-presets-div .line-border-presets-fieldset .no-border-span {
    background-position: -16px -3808px;
}

.format-dialog .line-border-presets-div .line-border-presets-fieldset .outside-border-span {
    background-position: -16px -3776px;
}

.format-dialog .line-border-presets-div .line-border-presets-fieldset .inside-border-span {
    background-position: -16px -3744px;
}

.format-dialog .line-border-presets-div .line-border-presets-fieldset .border-label {
    display: block;
    float: left;
    margin-top: 8px;
    width: 33%;
    text-align: center;
}

.format-dialog .line-border-detail-div {
    float: left;
    display: block;
    height: 140px;
    width: 250px;
    position: relative;
    margin-left: 10px;
    top: 10px;
}

.format-dialog .line-border-detail-div .line-border-detail-fieldset {
    height: 140px;
    width: 245px;
    border: 0px;
    border-top: 1px groove lightgray;
    padding-left: 0px;
    padding-right: 0;
}

.format-dialog .line-border-detail-div .line-border-detail-fieldset .small-border-icon-label {
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 16px;
    width: 16px;
    margin: 1px;
}

.format-dialog .line-border-detail-div .line-border-detail-fieldset .top-line {
    background-position: 0px -3264px;
    position: absolute;
    margin: 5px;
}

.format-dialog .line-border-detail-div .line-border-detail-fieldset .horizontal-inner-line {
    background-position: 0px -1680px;
    position: absolute;
    top: 55px;
    margin: 5px;
}

.format-dialog .line-border-detail-div .line-border-detail-fieldset .bottom-line {
    background-position: 0px -416px;
    position: absolute;
    top: 87px;
    margin: 5px;
}

.format-dialog .line-border-detail-div .line-border-detail-fieldset .diagonal-up-line {
    background-position: 0px -4240px;
    position: absolute;
    top: 120px;
    margin: 5px;
}
.format-dialog .line-border-detail-div .line-border-detail-fieldset .border-line-panel {
    position: absolute;
    left: 50px;
    display: block;
    width: 180px;
    height: 90px;
    border: 1px solid black;
}

.format-dialog .line-border-detail-div .line-border-detail-fieldset .left-line {
    background-position: 0px -1728px;
    position: absolute;
    left: 50px;
    top: 120px;
    margin: 5px;
}

.format-dialog .line-border-detail-div .line-border-detail-fieldset .vertical-inner-line {
    background-position: 0px -1696px;
    position: absolute;
    left: 130px;
    top: 120px;
    margin: 5px;
}

.format-dialog .line-border-detail-div .line-border-detail-fieldset .right-line {
    background-position: 0px -2560px;
    position: absolute;
    left: 205px;
    top: 120px;
    margin: 5px;
}
.format-dialog .line-border-detail-div .line-border-detail-fieldset .diagonal-down-line {
    background-position: 0px -4256px;
    position: absolute;
    left: 235px;
    top: 120px;
    margin: 5px;
}

.format-dialog .border-line-panel {
    position: relative;
}

.format-dialog .border-line-panel .corner {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid;
}

.format-dialog .border-line-panel .left-top-corner {
    border-color: transparent #e6e6e6 #e6e6e6 transparent;
}

.format-dialog .border-line-panel .right-top-corner {
    border-color: transparent transparent #e6e6e6 #e6e6e6;
    left: 168px;
}

.format-dialog .border-line-panel .left-bottom-corner {
    border-color: #e6e6e6 #e6e6e6 transparent transparent;
    top: 79px;
}

.format-dialog .border-line-panel .right-bottom-corner {
    border-color: #e6e6e6 transparent transparent #e6e6e6;
    left: 168px;
    top: 79px;
}

.format-dialog .border-line-panel .top-middle-horizontal {
    border-color: transparent transparent #e6e6e6 transparent;
    left: 85px;
    top: -2px;
}

.format-dialog .border-line-panel .left-middle-horizontal {
    border-color: transparent transparent #e6e6e6 transparent;
    top: 32px;
}

.format-dialog .border-line-panel .right-middle-horizontal {
    border-color: transparent transparent #e6e6e6 transparent;
    left: 169px;
    top: 32px;
}

.format-dialog .border-line-panel .bottom-middle-horizontal {
    border-color: transparent transparent #e6e6e6 transparent;
    left: 85px;
    top: 69px;
}

.format-dialog .border-line-panel .top-middle-vertical {
    border-color: transparent transparent transparent #e6e6e6;
    left: 90px;
}

.format-dialog .border-line-panel .left-middle-vertical {
    border-color: transparent transparent transparent #e6e6e6;
    left: 10px;
    top: 37px;
}

.format-dialog .border-line-panel .right-middle-vertical {
    border-color: transparent transparent transparent #e6e6e6;
    left: 169px;
    top: 37px;
}

.format-dialog .border-line-panel .bottom-middle-vertical {
    border-color: transparent transparent transparent #e6e6e6;
    left: 90px;
    top: 79px;
}

.format-dialog .border-line-panel .border-sheet {
    position: absolute;
    height: 70px;
    width: 158px;
    top: 10px;
    left: 11px;
}

.format-dialog .border-comments {
    margin-top: 240px;
}

.format-dialog .format-number-label {
    margin-bottom: 3px;
    margin-top: 2px;
}

.format-dialog .category-select {
    width: 96%;
}

.format-dialog .tab-number-category {
    display: inline-block;
    width: 26%;
    float: left;
}

.format-dialog .tab-number-sample {
    float: left;
    width: 70%;
}

.format-dialog .tab-number-sample-fieldset {
    border: 1px solid rgba(170, 170, 170, 0.7);
    height: 34px;
}

.format-dialog .sample-display-container {
    width: 350px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.format-dialog .tab-number-setting {
    float: left;
    width: 331px;
    margin-left: 3px;
    height: 180px;
}

.format-dialog .tab-number-comments {
    float: left;
    width: 525px;
    height: 50px;
}

.format-dialog .negative-number-select {
    width: 331px;
    height: 117px;
}

.format-dialog .date-type-locale-select {
    width: 331px;
}

.format-dialog .date-type-calendar-select {
    width: 331px;
}

.format-dialog .time-type-locale-select {
    width: 331px;
}

.format-dialog .special-type-locale-select {
    width: 331px;
}

.format-dialog .decimal-places-input {
    width: 100px;
}

.format-dialog .accounting-decimal-places-input {
    width: 100px;
}

.format-dialog .scientific-decimal-places-input {
    width: 100px;
}

.format-dialog .percentage-decimal-places-input {
    width: 100px;
}

.format-dialog .currency-decimal-places-input {
    width: 100px;
}

.format-dialog .fraction-type-select {
    width: 331px;
}

.format-dialog .special-type-select {
    width: 331px;
}

.format-dialog .time-type-select {
    width: 331px;
}

.format-dialog .date-type-select {
    width: 331px;
}

.format-dialog .currency-type-select {
    width: 331px;
}

.format-dialog .sample-spread {
    display: none;
}

.format-dialog .custom-type-input {
    width: 331px;
    margin: 0px;
}

.format-dialog .custom-type-select {
    margin: 0px;
    width: 331px;
}

.format-dialog .custom-type-button {
    width: 80px;
    height: 27px;
    margin-left: 253px;
    margin-top: 22px;
}

.format-dialog .accounting-symbol-dropdown {
    width: 281px;
}

.format-dialog .currency-symbol-dropdown {
    width: 281px;
}

.format-dialog .separator-input {
    margin: 0 3px 0 0;
    vertical-align: bottom;
}

.format-dialog .gcui-numberpicker {
    margin: 8px 0;
}

.format-dialog .cell-protection {
    margin: 3px 0;
}

.format-dialog .column-container {
    float: left;
    width: 265px;
    height: 360px;
    padding: 0px 5px;
}

.format-dialog .padding-container {
    height: 156px;
}

.format-dialog .padding-fieldset {
    padding: 10px;
    width: 222px;
    height: 134px;
    border: 1px solid lightgrey;
    margin: 0;
}
.format-dialog .padding-fieldset div {
    margin: 5px;
}

.format-dialog .preview-container {
    height: 189px;
}

.format-dialog .preview-fieldset {
    padding: 10px;
    width: 222px;
    height: 167px;
    border: 1px solid lightgrey;
    margin: 0;
}

.format-dialog .preview-spread-container {
    height: 130px;
    width: 200px;
    margin: 10px;
    border: 1px solid gray;
}

.format-dialog .label-alignment-container {
    margin-top: 5px;
}

.format-dialog .label-alignment-button-container {
    margin: 5px 5px;
    width: 110px;
    height: 40px;
}

.format-dialog .label-alignment-button {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 5px;
    float: left;
    cursor: pointer;
    padding: 4px;
}

.format-dialog .label-alignment-button:hover {
    background-color: lightgrey;
}

.format-dialog .label-alignment-button span {
    display: inline-block;
    height: 16px;
    width: 16px;
}

.format-dialog .label-alignment-topLeft span {
    background-position: 0px -4176px;
    background-image: url("../images/icons.png");
}

.format-dialog .label-alignment-topCenter span {
    background-position: 0px -4160px;
    background-image: url("../images/icons.png");
}

.format-dialog .label-alignment-topRight span {
    background-position: 0px -4192px;
    background-image: url("../images/icons.png");
}

.format-dialog .label-alignment-bottomLeft span {
    background-position: 0px -4128px;
    background-image: url("../images/icons.png");
}

.format-dialog .label-alignment-bottomCenter span {
    background-position: 0px -4112px;
    background-image: url("../images/icons.png");
}

.format-dialog .label-alignment-bottomRight span {
    background-position: 0px -4144px;
    background-image: url("../images/icons.png");
}

.format-dialog .label-margin-container {
    margin-top: 5px;
    width: 250px;
    height: 120px;
}

.format-dialog .label-fonts-container {
    margin-top: 5px;
}

.format-dialog .label-font-container {
    height: 20px;
    margin: 5px 10px;
}

.format-dialog .label-font-family {
    float: left;
    width: 60px;
}

.format-dialog .label-font-size {
    float: left;
    width: 40px;
}

.format-dialog .label-visibility-container {
    margin-top: 10px;
}

.format-dialog .label-visibility {
    width: 100px;
    margin: 5px 10px;
}

.format-dialog .label-fonts-button {
    display: inline-block;
    float: left;
    width: 16px;
    height: 16px;
    padding: 4px;
    margin: 0px 4px;
}

.format-dialog .label-fonts-button:hover {
    background-color: lightgrey;
}

.format-dialog .label-fonts-button div {
    width: 16px;
    height: 16px;
}

.format-dialog .label-font-weight div {
    background-position-x: 0px;
    background-position-y: -400px;
    background-image: url("../images/icons.png");
}

.format-dialog .label-font-style div {
    background-position-x: 0px;
    background-position-y: -1712px;
    background-image: url("../images/icons.png");
}

.format-dialog .label-font-color div {
    background-position-x: 0px;
    background-position-y: -1168px;
    background-image: url("../images/icons.png");
}

.format-dialog .label-text-input {
    margin: 5px 10px;
    width: 200px;
}

.format-dialog .button-active {
    background-color: lightgrey;
}

.format-dialog .cell-label {
    border: 1px solid lightgrey;
    height: 325px;
    padding: 9px 10px;
    margin: 0;
}

.format-dialog .label-margin-column {
    display: inline-block;
    width: 38px;
}

.format-dialog .label-margin-group {
    display: inline-block;
}

.format-dialog .label-margin-group div {
    margin: 5px;
}

.format-dialog .label-margin-group-container {
    margin-left: 5px;
}