<style>
    /* 新增/编辑上方输入框样式优化 */
    .card-show-edit .layui-form-label {
        padding: 5px 15px 5px 0;
        width: auto;
    }

    .btn-width {
        width: 100px;
    }
    body{
        overflow-y: hidden;
    }
    .industry .layui-table-box{
        height: 90% !important;
    }
    .industry .layui-table-body{
        height: 93.5% !important;
    }
    .industry .layui-form.layui-border-box.layui-table-view{
        height: 490px !important;
    }
</style>

<div class="layui-row layui-col-space15">
    <!-- 列表展示 -->
    <div class="layui-col-md12 card-show-list industry">
        <div class="layui-card">
            <div class="layui-card-header">预算管理</div>
            <div class="layui-card-body">
                <div class="layui-form">
                    <div class="layui-form-item table-top-bar">
                        <div class="layui-inline">
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-sm layui-btn-primary btn-width"
                                    lay-filter="btn_add_form" lay-submit title="新建" id="btn-create">
                                    <i class="layui-icon layui-icon-add-1"></i>
                                    新建
                                </button>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-sm layui-btn-primary btn-width"
                                    lay-filter="btn_add_form" lay-submit title="删除" id="checkData">
                                    <i class="layui-icon layui-icon-delete"></i>
                                    删除
                                </button>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-sm layui-btn-primary btn-width"
                                    lay-filter="btn_add_form" lay-submit title="删除全部" id="deleteAll">
                                    <i class="layui-icon layui-icon-delete"></i>
                                    删除全部
                                </button>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-sm layui-btn-primary btn-width"
                                    lay-filter="btn_download_project" lay-submit title="下载模板" id="btn_download_project">
                                    <i class="layui-icon layui-icon-download-circle"></i>下载模板
                                </button>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-sm layui-btn-primary btn-width"
                                    id="crm-customer-btn-import" lay-submit title="导入">
                                    <i class="layui-icon layui-icon-upload-drag"></i>导入
                                </button>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-sm layui-btn-primary btn-width"
                                    lay-filter="btn_add_form" lay-submit title="导出" id="btn_download_out">
                                    <i class="layui-icon layui-icon-download-circle"></i>
                                    导出
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="industryTable" lay-filter="industryTable"></table>
            </div>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="control-1">
    <a class="table-control-btn" lay-event="edit">编辑</a>
    <a class="table-control-btn table-control-btn-danger" lay-event="del">删除</a>
</script>
<script src="/assetsInfo/js/tempDown.js"></script>
<script>
    // DONE: 表单设计器内保存的表格宽度不是自适应的，需要处理一下
    // Ueditor 编辑器全局变量
    var ADCFormDesign = null;

    layui.use(['table', 'upload'], function () {
        var table = layui.table,
            form = layui.form,
            config = layui.config,
            admin = layui.admin,
            layer = layui.layer;
        upload = layui.upload,
            // 修改新增传递的参数
            construction = {},
            editId = '';
        var heightTable = $(document).height()-140;
        // 渲染表格
        table.render({
            elem: '#industryTable',
            id: 'industryTable',
            url: admin.formatUrl('/api/industymeeting/budgetManagementInfo/page'),
            parseData: function (res) {
                return {
                    "code": res.respCode, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.count, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },
            height: heightTable,
            cols: [
                [{
                    type: 'checkbox'
                },
                {
                    type: 'numbers', title: '#', width: 80
                },
                {
                    field: 'headquarters',
                    title: '本部',
                    align: 'center',
                    sort:false,
                    width: '15%',
                    templet: function (d) {
                        var text = d.headquarters ? d.headquarters : "";
                        return '<div title="' + text + '"><span>' + text + '</span></div>'
                    }
                },
                {
                    field: 'department',
                    title: '部门',
                    align: 'center',
                    sort:false,
                    width: '15%',
                    templet: function (d) {
                        var text = d.department ? d.department : "";
                        return '<div title="' + text + '"><span>' + text + '</span></div>'
                    }
                }, {
                    field: 'year',
                    title: '年份',
                    align: 'center',
                    width: '10%',
                    templet: function (d) {
                        var text = d.year ? d.year : "";
                        return '<div title="' + text + '"><span>' + text + '</span></div>'
                    }
                }, {
                    field: 'ouputTarget',
                    title: '产值目标(元)',
                    align: 'center',
                    sort:false,
                    width: '15%',
                    templet: function (d) {
                        var text = d.ouputTarget ? d.ouputTarget : "";
                        return '<div title="' + text + '"><span>' + text + '</span></div>'
                    }
                }, {
                    field: 'updateTime',
                    title: '更新日期',
                    align: 'center',
                    width: '10%',
                    templet: function (d) {
                        return timestampToTime(d.updateTime)
                    }
                }, {
                    field: 'updateUser',
                    title: '更新人',
                    sort:false,
                    align: 'center',
                    width: '15%',
                    templet: function (d) {
                        var text = d.updateUser ? d.updateUser : "";
                        return '<div title="' + text + '"><span>' + text + '</span></div>'
                    }
                }, {
                    templet: '#control-1',
                    title: '操作',
                    align: 'center',
                    unresize: true
                }]
            ],
            cellMinWidth: 120,
            page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
            },
            request: {
                page: 'pageNo',
                limitName: 'pageSize',
            },
            where: {
                design: 0,
                order: 'desc',
                orderBy: 'update_time'
            },
            done: function (res, curr, count) {
                if (curr > 1 && res.data.length == 0) {
                    var pageValue = curr - 1;
                    table.reload('industryTable', {
                        page: { curr: pageValue },// 修改页码
                    });
                }
            }
        });
        // 删除数据
        $('#checkData').click(() => {
            var checkStatus = layui.table.checkStatus('industryTable').data;
            var delids = '';
            if (checkStatus.length == 0 || checkStatus == []) {
                layer.msg('请先选取删除数据');
            } else {
                for (let i = 0; i < checkStatus.length; i++) {
                    if (checkStatus.length > 1) {
                        delids += checkStatus[i].id + ',';
                    } else {
                        delids = checkStatus[i].id;
                    }
                }
                checkDelets(delids, '您确定要删除选中的数据吗？')
            }
        })
        $('#deleteAll').click(() => {
            layer.confirm('您确定要清空数据吗?', {
                icon: 3,
                title: '提示'
            }, function () {
                admin.req('/api/industymeeting/budgetManagementInfo', {}, function (data) {
                    if (data.ok) {
                        layer.msg('清空成功！', {
                            icon: 1
                        });
                        table.reload('industryTable', {
                            where: {
                                reload: new Date().getTime()
                            }
                        });
                    } else {
                        return layer.msg('清空失败：' + data.message, {
                            icon: 5
                        });
                    }
                }, {
                    method: 'delete'
                });
                form.render()
            });
        })
        function checkDelets(delids, delTitle) {
            layer.confirm(delTitle, {
                icon: 3,
                title: '提示'
            }, function () {
                admin.req('/api/industymeeting/budgetManagementInfo/' + delids, {}, function (data) {
                    if (data.ok) {
                        layer.msg('删除成功！', {
                            icon: 1
                        });
                        table.reload('industryTable', {
                            where: {
                                reload: new Date().getTime()
                            }
                        });
                    } else {
                        return layer.msg('删除失败：' + data.message, {
                            icon: 5
                        });
                    }
                }, {
                    method: 'delete'
                });
                form.render()
            });
        }
        // 将 table ID 存入数组
        layui.admin.addTableCache('industryTable');

        // 搜索
        form.on('submit(btn_search_form)', function (data) {
            var searchValue = data.field.inp_search;
            table.reload('industryTable', {
                where: {
                    formName: searchValue,
                    reload: new Date().getTime()
                }
            });
        });
        // 重置
        form.on('submit(btn_reset_form)', function () {
            $('#inp_search').val('');
            table.reload('industryTable', {
                where: {
                    formName: '',
                    reload: new Date().getTime()
                }
            });
        });
        // 新建
        $('#btn-create').off('click').on('click', function () {
            popMenu('add', {})
        });
        // 导入
        upload.render({
            elem: '#crm-customer-btn-import',
            url: '/api/industymeeting/budgetManagementInfo/upload', //上传接口
            accept: 'file',
            acceptMime: 'xlsx/xlsm',
            before: function (obj) {
                layer.load(); //上传loading
            },
            done: function (res) {
                layer.closeAll();

                if (res.respCode == 0) {
                    layer.msg('导入成功！', {
                        icon: 1
                    });
                    table.reload('industryTable', {
                        where: {
                            reload: new Date().getTime()
                        }
                    });
                } else {
                    return layer.msg('导入失败：' + res.message, {
                        icon: 5
                    });
                }
            },
            error: function () {
                //请求异常回调
                layer.closeAll();
                return layer.msg('导入出现错误，请重试！', {
                    icon: 5
                });
            }
        });
        // 导出 下载模板
        $('#btn_download_project').off("click").on('click', function () {
            tempDownByDicCode("budget_management_template");
            // window.open(admin.formatUrl('/api/industymeeting/budgetManagementInfo/download'))
        });
        $('#btn_download_out').on('click', function () {
            window.open(admin.formatUrl('/ADC_info/api/industymeeting/budgetManagementInfo/download'))
        });
        // 监听工具条事件 查看、编辑、删除
        table.on('tool(industryTable)', function (obj) {
            // 获取点击列的数据
            var data = obj.data;
            var layEvent = obj.event;
            // 判断操作类型
            if (layEvent === 'edit') {
                popMenu("edit", data);
            } else {
                layer.confirm('您确定要删除此数据吗？', {
                    icon: 3,
                    title: '提示'
                }, function () {
                    admin.req('/api/industymeeting/budgetManagementInfo/' + data.id, {}, function (data) {
                        if (data.ok) {
                            layer.msg('删除成功！', {
                                icon: 1
                            });
                            table.reload('industryTable', {
                                where: {
                                    reload: new Date().getTime()
                                }
                            });
                        } else {
                            return layer.msg('删除失败：' + data.message, {
                                icon: 5
                            });
                        }
                    }, {
                        method: 'delete'
                    });
                });
            }
        });
        // 编辑弹框
        function popMenu(type, data) {
            var width = 700;
            if (type === 'add') {
                var title = '新增预算';
                data = {};
            } else if (type === 'edit') {
                var title = '编辑：'
            }
            data.type = type;
            editId = data.id;
            admin.popupCenter({
                title: title,
                width: width,
                path: 'components/industry/industryCreat.html',
                finish: function () {
                    table.reload('industryTable', {
                        where: {
                            reload: new Date().getTime()
                        }
                    });
                },
                success: function () {
                    setFormValue(data);
                    $('#user-area .layui-col-md6').removeClass("layui-col-md6");
                    $('#user-detial-area').css("height", '220px');
                    admin.showLoading('.roleName-loading');
                    admin.showLoading('.orgName-loading');
                    admin.showLoading('.userState-loading');
                    form.render()
                }
            });
        }
        // 设置表单内容
        function setFormValue(obj) {
            var inputs = $('.layui-tpl-container').find('input'),
                title = $('.layui-tpl-container .layui-card-header'),
                formNames = ['headquarters', 'headquartersId', 'departmentId', 'department', 'year', 'ouputTarget', 'type'];

            obj.title && title.text(obj.title);
            for (var i = 0; i < formNames.length; i++) {
                if (obj[formNames[i]]) {
                    $('.layui-tpl-container  input[name="' + formNames[i] + '"]').val(obj[formNames[i]]);
                } else {
                    $('.layui-tpl-container  input[name="' + formNames[i] + '"]').val('');
                }
            }
        }
        // 表单提交
        form.on('submit(menuSave_user)', function (data) {
            // 获取表单数据
            var d = data.field,
                elem = data.elem;
            // 判断是编辑还是新增
            var ajaxName = '';
            var urlType = '';
            if (d.type === 'add') {
                ajaxName = '新增预算';
                urlType = 'POST'
                construction.id = '';
            } else if (d.type === 'edit') {
                ajaxName = '编辑预算';
                urlType = 'PUT';
                construction.id = editId;
            }
            var ouputTarget = d.ouputTarget;
            var len = ouputTarget.split('.');
            if (len.length == 1) {
                ouputTarget = ouputTarget + '.00';
            } else {
                if (len[1].length == 1) {
                    ouputTarget = len[0] + '.' + len[1] + '0';
                } else if (len[1].length == 0) {
                    ouputTarget = len[0] + '.00';
                } else {
                    ouputTarget = len[0] + '.' + len[1]
                }
            }
            var account = JSON.parse(layui.data(config.tableName).account).usid;
            construction.updateUserId = account;
            construction.year = d.year;
            construction.ouputTarget = ouputTarget;
            construction.headquarters = d.headquarters;
            construction.headquartersId = d.headquartersId;
            construction.department = d.department;
            construction.departmentId = d.departmentId;
            construction.delFlag = 0;
            // 发送请求
            admin.req('/api/industymeeting/budgetManagementInfo', construction, function (data) {
                if (data.ok) {
                    layer.msg(ajaxName + '成功！', {
                        icon: 1
                    });
                    admin.finishPopupCenter();
                } else {
                    admin.closePopupCenter();
                    return layer.msg(ajaxName + '失败：' + data.message, {
                        icon: 5
                    });
                    admin.finishPopupCenter();
                }
            }, {
                method: urlType
            });

        });
        //时间戳转换年月日
        function timestampToTime(timestamp) {
            var date = new Date(timestamp);
            Y = date.getFullYear() + '-';
            M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
            D = (date.getDate() + 1 < 10 ? '0' + date.getDate() : date.getDate());
            return Y + M + D;

        }
        // 面板控制
        function panelControl(method, options) {
            if (ADCFormDesign === null) {
                // 检查 Ueditor 相关文件是否引入
                // admin.showLoading();
                var scriptArray = ['../../assetsInfo/libs/ueditor_v1.4.3/ueditor.config.js',
                    '../../assetsInfo/libs/ueditor_v1.4.3/ueditor.all.min.js',
                    '../../assetsInfo/js/ADCFormDesignHelper.js',
                    '../../assetsInfo/libs/ueditor_v1.4.3/adcformdesign/adcformdesign.js'
                ];
                loadJS(scriptArray[0], function () {
                    loadJS(scriptArray[1], function () {
                        loadJS(scriptArray[2], function () {
                            loadJS(scriptArray[3], function () {
                                // 必须配置 ADCFormDesign Editor 的名字，否则插件无法使用，且只能有唯一一个
                                UE.ADCFormDesignEditor = 'ADCFormDesign';
                                ADCFormDesign = UE.getEditor('ADCFormDesign', {
                                    adcformdesign: true, // 显示表单设计器按钮
                                    textarea: 'contentHtml', // 编辑器的表单名称
                                    serverUrl: admin.formatUrl(
                                        '/api/form'),
                                    toolbars: [
                                        ['fullscreen', 'source',
                                            'undo', 'redo',
                                            'bold', 'fontfamily',
                                            'fontsize',
                                            'indent', 'justifyleft',
                                            'justifycenter',
                                            'justifyright',
                                            'justifyjustify',
                                            'inserttable',
                                            'deletetable',
                                            'insertparagraphbeforetable',
                                            'insertrow',
                                            'deleterow',
                                            'insertcol',
                                            'deletecol',
                                            'mergecells',
                                            'mergeright',
                                            'mergedown',
                                            'splittocells',
                                            'splittorows',
                                            'splittocols'
                                        ]
                                    ],
                                    wordCount: false,
                                    elementPathEnabled: false,
                                    initialFrameHeight: 400,
                                    autoHeightEnabled: false
                                });
                                ADCFormDesign.ready(function () {
                                    // admin.removeLoading();
                                    process();
                                });
                            });
                        });
                    });
                });
            } else process();

            function process() {
                switch (method) {
                    case 'edit':
                        // 编辑
                        // UEditor 添加内容
                        var oldContent = options && options.contentHtml ? options.contentHtml : '';
                        ADCFormDesign.setContent(oldContent);
                        // 切换
                        options.title = '编辑表单：' + options.formName;
                        options.type = method;
                        setFormValue(options);
                        $('.card-show-list').fadeOut(function () {
                            $('.card-show-edit').fadeIn();
                        });
                        break;
                    case 'view':
                        // 查看
                        // 过滤掉没有内容的
                        ADCFormDesignHelper.View(options);
                        break;
                    case 'add':
                        // 新增
                        // 初始化内容为空
                        ADCFormDesign.setContent('');
                        // 切换
                        setFormValue({
                            title: '新增表单',
                            type: method
                        });
                        $('.card-show-list').fadeOut(function () {
                            $('.card-show-edit').fadeIn();
                        });
                        break;
                    case 'close':
                        // 关闭
                        $('.card-show-edit').fadeOut(function () {
                            $('.card-show-list').fadeIn();
                            setFormValue({
                                title: '新增/编辑表单',
                                type: ''
                            });
                            table.reload('industryTable', {
                                where: {
                                    reload: new Date().getTime()
                                }
                            });
                        });
                        break;

                    default:
                        break;
                }
            };

            // 设置表单内容
            function setFormValue(obj) {
                var inputs = $('.card-show-edit').find('input'),
                    title = $('.card-show-edit .layui-card-header'),
                    formNames = ['formName', 'formCode', 'id', 'type', 'version'];

                obj.title && title.text(obj.title);
                for (var i = 0; i < formNames.length; i++) {
                    if (obj[formNames[i]]) {
                        $('.card-show-edit  input[name="' + formNames[i] + '"]').val(obj[formNames[i]]);
                    } else {
                        $('.card-show-edit  input[name="' + formNames[i] + '"]').val('');
                    }
                }
            }
        };

        // 同步阻塞加载 JS 文件
        function loadJS(url, success) {
            var domScript = document.createElement('script');
            domScript.src = url;
            success = success || function () { };
            domScript.onload = domScript.onreadystatechange = function () {
                if (!this.readyState || 'loaded' === this.readyState || 'complete' === this.readyState) {
                    success();
                    this.onload = this.onreadystatechange = null;
                    this.parentNode.removeChild(this);
                }
            }
            document.getElementsByTagName('head')[0].appendChild(domScript);
        }
    });
</script>