<link rel="stylesheet" href="assetsInfo/libs/chosen/chosen.min.css">
<style>
    .chosen-container {
        width: 100%!important;
    }
    .add-icon{
        position: absolute;
        top: 60px;
        left: 90px;
    }
    .member-dialog{
        overflow: visible !important;
    }
    body{
        overflow-y: hidden;
    }
    .layui-laypage>:last-child {
        margin-right: 10px !important;
    }
    #btn-export {
        margin-left: 10px;
    }
</style>
<div class="layui-row layui-col-space15">
    <!-- 左侧 -->
    <div class="layui-col-md12 autoScrollLeft">
        <div class="layui-card">
            <!-- 卡片容器 -->
            <div class="layui-card-body">
                <!-- 数据表格顶部控制栏 -->
                <div class="layui-form">
                    <div class="layui-form-item table-top-bar" style="height: 30px">
                        <!-- 右侧 -->
                        <div class="layui-inline layui-pull-right">
                            <div class="layui-inline">

                                <button id="btn_add" type="button" class="layui-btn layui-btn-sm layui-import">
                                    <i class="layui-icon layui-icon-add-circle-fine"></i>新建
                                </button>
                                <button id="btn_edit" type="button" class="layui-btn layui-btn-sm layui-import">
                                    <i class="layui-icon layui-icon-edit"></i>编辑
                                </button>
                                <button id="btn_del_pro_batch" class="layui-btn layui-btn-sm layui-delete" lay-filter="btn_del_pro_batch" lay-submit id="btn_del_pro_batch" title="删除">
                                    <i class="layui-icon layui-icon-delete"></i>删除
                                </button>
                                <button type="button" class="layui-btn layui-btn-sm layui-import" id="upload-pro" title="导入">
                                    <i class="layui-icon  layui-icon-upload-drag"></i>导入
                                </button>
                                <!--<button class="layui-btn layui-btn-sm layui-maincolor" id="btn-export" title="导出">-->
                                    <!--<a href="/api/budget/project/export?fileName=支出导出" download="项目导出.xlms" style="color: #000">-->
                                        <!--<i class="layui-icon  layui-icon-download-circle"></i>  导出-->
                                    <!--</a>-->
                                <!--</button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 下部表格容器 -->
                <table id="tableContent-pro" lay-filter="tableContent-pro"></table>
            </div>
        </div>
    </div>
</div>



<script src="assetsInfo/libs/chosen/chosen.jquery.min.js"></script>
<!-- 表单辅助方法，用于启动表单时的权限控制和数据获取与提交 -->
<script src="assetsInfo/js/ADCFormDesignHelper.js"></script>
<script>
    function addMem() {
        $('#addMember').trigger('chosen:activate');
        $(".chosen-search-input").click();
        $('.layui-tpl-container').css('height','350px')
    }
    // 初始化 layui
    layui.use(['table', 'formSelects','upload'], function() {
        var table = layui.table,
            form = layui.form,
            config = layui.config,
            admin = layui.admin,

            upload = layui.upload,
            formSelects = layui.formSelects,
            permission = [{
                name: 'fin:project:save',
                id: 'btn_add'
            }, {
                name: 'fin:project:import',
                id: 'upload-pro'
            }, {
                name: 'fin:project:export',
                id: 'btn-export'
            }, {
                name: 'fin:project:delete',
                id: 'btn_del_pro_batch'
            }, ];
        layer = layui.layer;

        Date.prototype.toLocaleString = function() {
            return this.getFullYear() + "-" + (this.getMonth() + 1 < 10 ? '0' + (this.getMonth() + 1) : this.getMonth() + 1) + "-" + (this.getDate() < 10 ? '0' + (this.getDate()) : this.getDate()) + " " + (this.getHours() < 10 ? '0' + (this.getHours()) : this.getHours()) + ":" + (this.getMinutes() < 10 ? '0' + (this.getMinutes()) : this.getMinutes()) + ":" + (this.getSeconds() < 10 ? '0' + (this.getSeconds()) : this.getSeconds());
        };
        //admin.setUserPermission(permission)

        // 渲染左侧表格
        var renderTable = function() {
            var heightTable = $(document).height()-140
            // 渲染表格
            table.render({
                elem: '#tableContent-pro',
                id: 'tableContent-pro',
                url: admin.formatUrl('/api/budget/revenueExpense/page'),
                // 格式化后台返回的数据
                parseData: function(res) { //res 即为原始返回的数据
                    // 返回结果，进行渲染表格
                    return {
                        "code": res.respCode, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.data.count, //解析数据长度
                        "data": res.data.dataList //解析数据列表
                    };
                },
                height: heightTable,
                cols: [
                    [{
                        type: 'checkbox'
                    }, {
                        title: '序号',
                        type: 'numbers'
                    },
                        {
                            field: 'budget',
                            title: '所属项目',
                            align: 'center',
                            minWidth: 200,
                            templet:function(d) {
                                var text= d.projectName ? d.projectName : "";
                                return '<div title="'+text+'"><span>'+ text +'</span></div>'
                            }

                        },
                        {
                            field: 'feeType',
                            title: '类型',
                            align: 'center',
                            templet:function(d) {
                                var text= d.feeType ? d.feeType : "";
                                return '<div title="'+text+'"><span>'+ text +'</span></div>'
                            }

                        },
                        {
                        field: 'feeContent',
                        title: '内容',
                        align: 'center',
                        minWidth: 150,
                        templet:function(d) {
                            var text= d.feeContent ? d.feeContent : "";
                            return '<div title="'+text+'"><span>'+ text +'</span></div>'
                        }
                    }, {
                        field: 'participateMember',
                        title: '成员',
                        align: 'center',
                        templet:function(d) {
                            var text= d.participateMember ? d.participateMember : "";
                            return '<div title="'+text+'"><span>'+ text +'</span></div>'
                        }
                    },
                        {
                        field: 'startTime',
                        title: '创建时间',
                        templet: function(d) {
                            var time= d.startTime ? new Date(parseInt(d.startTime)).toLocaleString() : "";
                            return '<div title="'+time+'"><span>'+ time +'</span></div>'
                        },
                        minWidth: 180,
                        align: 'center'
                    }, {
                        field: 'revenueAmount',
                        title: '收入金额',
                        align: 'center',
                        minWidth: 100,
                        templet:function(d) {
                            var text= d.revenueAmount ? d.revenueAmount : "";
                            return '<div title="'+text+'"><span>'+ text +'</span></div>'
                        }
                    }
                    ]
                ],
                cellMinWidth: 90,
                page: {
                    layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
                },
                request: {
                    pageName: 'page',
                    limitName: 'size'
                },
                done: function() {

                }
            });
        }

        // 初始化，执行一次渲染表格树
        renderTable();
        // DONE: 侧边栏变化时刷新数据表格
        // 将 table ID 存入数组
        layui.admin.addTableCache('tableContent-pro');

        // 搜索
        form.on('submit(btn_search_user)', function(data) {
            var searchValue = data.field;
            searchValue.reload = new Date().getTime();
            table.reload('tableContent-user', {
                where: searchValue
            });
        });
        // 重置
        form.on('submit(btn_reset_user)', function() {
            $('#usName').val('');
            formSelects.value('roleName', []);
            formSelects.value('orgId', []);
            table.reload('tableContent-user', {
                where: {
                    usName: '',
                    roleName: '',
                    orgId: '',
                    reload: new Date().getTime()
                }
            });
        });

        // 监听工具条事件
        // 主要是编辑和删除

        $('#btn_start_pro').on('click', function() {
            admin.req('/api/activiti/repository/getProcessStartRequestForm', {
                processDefinitionKey: "p70053bc83b2b4a27998092819961c768",
                existFinished:1,
            }, function(result) {
                if (result.ok && result.data != null) {
                    if (result.data.id.indexOf('.html') > 0) {
                        // 外部表单流程
                        admin.popupCenter({
                            title: '新增项目',
                            path: 'components/tpl/process_def_tpl_start.html',
                            area: ['90%', '90%'],
                            finish: function() {
                                table.reload(
                                    'tableContent-modelDef');
                            },
                            success: function() {
                                $("#process_def_tpl_start").load(result.data.id);
                            }
                        });
                    } else {
                        var data = {
                            modelId: "2860005",
                            processId: "p70053bc83b2b4a27998092819961c768:46:5397819",
                            processKey: "p70053bc83b2b4a27998092819961c768",
                            processName: "项目申请",
                            processVersion: "27",
                            publishStatus: "1",
                            publishTime: "2018-12-04 08:32:58"
                        }
                        // 正常流程
                        admin.req('/api/form/' + result.data.id, {}, function(response) {
                            if (response.data.design == 1) {} else {
                                var newData = $.extend({}, data, result);
                                ADCFormDesignHelper.startProcess(newData, function() {
                                    table.reload('tableContent-modelDef');
                                });
                            }
                        });

                    }
                }

            }, {
                method: 'POST'
            });
        });
        // 新增 按钮事件
        $('#btn_add').on('click', function() {
            popMenu('add');
        });
        // 批量删除
        $('#btn_del_pro_batch').on('click', function() {
            var checkStatus = table.checkStatus('tableContent-pro');
            console.log(checkStatus)
            if (checkStatus.data.length === 0) {
                return layer.msg('请选择要删除的收入', {
                    icon: 0
                });
            }
            var delArr = [];
            for (var i = 0; i < checkStatus.data.length; i++) {
                delArr.push(checkStatus.data[i].id);
            }

            layer.confirm('确定删除选中的 ' + checkStatus.data.length + ' 个收入吗？', {
                icon: 3,
                title: '提示'
            }, function() {
                admin.req('/api/budget/revenueExpense/' + delArr.join(','), {},
                    function(data) {
                        if (data.ok) {
                            layer.msg('删除成功！', {
                                icon: 1
                            });
                            table.reload('tableContent-pro', {
                                where: {
                                    reload: new Date().getTime()
                                }
                            });
                        } else {
                            return layer.msg('删除失败：' + data.message, {
                                icon: 5
                            });
                        }
                    }, {
                        method: 'delete'
                    });
            });
        });     // 批量删除
//        编辑按钮
        $('#btn_edit').on('click', function() {
            var checkStatus = table.checkStatus('tableContent-pro');
            console.log(checkStatus)
            if (checkStatus.data.length != 1) {
                return layer.msg('请选择1个要编辑的项目', {
                    icon: 0
                });
            }
            popMenu("edit", checkStatus.data[0]);

        });
        /*
        导入
      */
        upload.render({
            elem: '#upload-pro',
            url: '/api/budget/revenueExpense/excelImport', //上传接口
            accept: 'file',
            acceptMime: 'xlsx/xlsm',
            before: function(obj) {
                layer.load(); //上传loading
            },
            done: function(res) {
                layer.closeAll();

                if (res.respCode == 0) {
                    layer.msg('导入成功！', {
                        icon: 1
                    });
                } else {
                    return layer.msg('导入失败：' + res.message, {
                        icon: 5
                    });
                }
            },
            error: function() {
                //请求异常回调
                layer.closeAll();
                return layer.msg('导入出现错误，请重试！', {
                    icon: 5
                });
            }
        });

        // 弹出框
        function popMenu(type, data) {
            // 判断操作事件
            if (type === 'add') {
                var title = '新增收入';
                data = {};
            } else if (type === 'edit') {
                var title = '编辑收入：' + data.feeContent
            }
            data.handleType = type;

            admin.popupCenter({
                title: title,
                path: 'components/tpl/save_revenue_form.html',
                finish: function() {
                    table.reload('tableContent-pro', {
                        where: {
                            reload: new Date().getTime()
                        }
                    });
                },
                success: function() {

                    getProject(data);
                    setFormValue(data);
                }
            });
        }




        function getProject(data)
        {
            admin.req('/api/budget/project/query/all', {}, function(res) {

                var arr = res.data;
                    formSelectArr = [];
                for (var i = 0; i < arr.length; i++) {
                    formSelectArr.push({
                        name: arr[i].name,
                        value: arr[i].id
                    });
                }
                formSelects.data('project_blong', 'local', {
                    arr: formSelectArr
                });
                // formSelects.value('project_blong', ['1']);
                // form.render();
                // formSelects.value('project_blong', ['da2e4513404f47c5ab85fce48b150951']);
                if(data.parentProjectId)
                {
                    formSelects.value('project_blong', [data.parentProjectId]);
                    setMember(data.parentProjectId,data)
                }
                form.render();

            });
        };

        formSelects.on('project_blong', function(id, vals, val, isAdd, isDisabled){
             setMember(val.value)
        });

        function setMember(id,data)
        {
            admin.req('/api/budget/project/query/'+id, {}, function(res) {
                var arr = res.data.mapList;
                formSelectArr = [];
                for (var i = 0; i < arr.length; i++) {
                    formSelectArr.push({
                        name: arr[i].name,
                        value: arr[i].id
                    });
                }
                formSelects.data('participateMembers_pop', 'local', {
                    arr: formSelectArr
                });
                if(data)
                {
                    formSelects.value('participateMembers_pop', data.participateMembers);
                }

                form.render();

            });
        }

        form.on('submit(btn-reverse-save)', function(obj) {
            // console.log($("#projectMember").val());
            var data = obj.field,
                elem = data.elem;
            var ajaxType = 'post';
            if (data.handleType == 'edit') {
                ajaxType = 'put';
            }
            data.participateMembers=data.participateMembers.split(',');
            delete data.handleType;
            admin.req('/api/budget/revenueExpense', data, function(data) {
                $(elem).attr('disabled', false);
                if (data.ok) {

                    layer.msg('保存成功！', {
                        icon: 1
                    });
                    admin.finishPopupCenter();
                } else {
                    return layer.msg('保存失败：' + data.message, {
                        icon: 5
                    });
                    admin.finishPopupCenter();
                }
            }, {
                method: ajaxType
            });
        });



        // 设置表单内容
        function setFormValue(obj) {
            if (obj.startTime) {
                obj.startTime = new Date(parseInt(obj.startTime)).toLocaleString()
            }

            formSelects.data('feeType_blong', 'local', {
                arr: [{name:'合同',value:'合同',},{name:'其他',value:'其他'}]
            });

            if(obj.feeType)
            {
                formSelects.value('feeType_blong', [obj.feeType]);
                form.render();
            }
            var inputs = $('.layui-tpl-container').find('input'),
                title = $('.layui-tpl-container .layui-card-header'),
                formNames = ['id', 'handleType', 'feeContent','revenueAmount'
                ];

            obj.title && title.text(obj.title);
            for (var i = 0; i < formNames.length; i++) {
                if (obj[formNames[i]]) {
                    $('.layui-tpl-container  input[name="' + formNames[i] + '"]').val(obj[formNames[i]]);
                } else {
                    $('.layui-tpl-container  input[name="' + formNames[i] + '"]').val('');
                }
            }
        }
    });
</script>