<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" http-equiv="Content-Type" content="text/html">
    <title>上传文件</title>
    <style>
        .layui-tpl-container .p-form,
        .layui-layout-body .layui-layer-page .layui-layer-content {
            overflow: visible !important;
        }
        .briefing-btn{
            height: 28px;
            line-height: 28px;
        }
        .upload-label{
            display: inline-block;
            width: 80px;
            text-align: left;
        }
        .upload-box{
            display: inline-block;
            width: calc(100% - 90px);
        }
        .briefingForm .layui-btn:not(.layui-btn-lg):not(.layui-btn-sm):not(.layui-btn-xs){
            height: 30px;
            line-height: 30px;
        }
        .briefingForm .briefingBtn{
            width: 50px;
            height: 24px !important;
            color: white;
            line-height: 24px !important;
            padding: 0px !important;
            margin-left: 5px !important;
        }
    </style>
</head>

<body>

<div class="layui-form-item briefingForm" style="text-align: center;padding: 60px 110px 0px">
    <div class="layui-form" style="margin-bottom: 60px">
        <div class="layui-form-item">
            <label class="layui-form-label labelWidth">文件类型：</label>
            <div class="layui-input-block reduceMarginL">
                <select name="briefingName" id="briefingName">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div>
                <div class="upload-label">
                    <span style="color:red;">*</span><label> 上传文件：</label>
                </div>
                <div class="upload-box" style="text-align: left;">
                    <input disabled type="text" placeholder="请上传文件" style="display: inline-block;width: calc(100% - 177px)" class="layui-input" id="fileBriefing"  lay-verify="required">
                    <input style="display: none" id="upFileData" type="file">
                    <button class="layui-btn briefingBtn layui-btn-normal" style="background-color: #87C459;" id="choiceFile">选择</button>
                    <button class="layui-btn briefingBtn layui-btn-normal" style="background-color: #FD6567;" id="delFile">删除</button>
                    <button class="layui-btn briefingBtn layui-btn-normal" style="background-color: #2293F9;" id="uploadFile">上传</button>
                </div>
            </div>
        </div>
    </div>
    <button class="layui-btn briefing-btn layui-btn-normal " id="submitBriefing" lay-submit lay-filter="submitBriefing">发送</button>
    <button class="layui-btn briefing-btn layui-btn-primary" id="saveBriefing" lay-submit lay-filter="saveBriefing">保存</button>
    <button class="layui-btn briefing-btn layui-btn-primary" id="cancelBriefing">取消</button>
</div>
</body>

</html>


<script>
    layui.use('upload', function() {
        var upload = layui.upload;
        var admin = layui.admin;
        var form =layui.form;
        // 选择文件
        $('#choiceFile').off('click').on('click',function () {
            console.log($('#upFileData'));
            $('#upFileData').click();
        });
        var changeFile=function(){
            $('#upFileData').off('change').on('change',function () {
                if(this.files[0]){
                    $('#fileBriefing').val(this.files[0].name);
                    $('#fileBriefing').attr("title",this.files[0].name);
                }else{
                    $('#fileBriefing').val('');
                    $('#fileBriefing').attr("title",'');
                }
                $('#fileBriefing').attr('data-fileId','');
            });
        }
        changeFile();
        $('#briefingName').off('change').on('change',function () {
            $('#briefingName').attr('title',this.value);
        });
        //删除
        $('#delFile').off('click').on('click',function () {
            //防止上传相同文件时不会触发change事件，清空file的文件和值
            var obj = document.getElementById('upFileData') ;
            obj.outerHTML=obj.outerHTML;
            $('#upFileData').val('');
            changeFile();
            if(!$('#fileBriefing').val()){
                return  layer.msg('请选择文件', {
                    icon: 5,
                    time:1000
                });
            }
            $('#fileBriefing').attr('data-fileId','');
            $('#fileBriefing').attr('title','');
            $('#fileBriefing').val('');
        });
        //上传
        $('#uploadFile').off('click').on('click',function () {
            var fileBriefingName = $('#fileBriefing').val();
            var fileDatta=$('#upFileData')[0].files[0];
            if(!fileBriefingName||!fileDatta){
                return  layer.msg('请选择文件', {
                    icon: 5,
                    time:1000
                });
            }
            var fileBriefing =  $('#fileBriefing').attr('data-fileId');
            var exts='xlsx|xls|doc|docx';
            if(!RegExp("\\w\\.("+exts+")$","i").test(escape(fileBriefingName.toLowerCase()))){
                return  layer.msg('只可上传excel文件', {
                    icon: 5,
                });
            }
            var formData = new FormData();
            formData.append("file",$('#upFileData')[0].files[0]);
            var index = layer.load(2);
            $.ajax({
                url:'/api/sys/file/upload', /*接口域名地址*/
                type:'post',
                data: formData,
                contentType: false,
                processData: false,
                success:function(res){
                    layer.close(index);
                    if(res.respCode === '0'){
                        $('#fileBriefing').attr('data-fileId',res.data.fileId);
                        // $('#delFile').css('display','inline-block');
                        layer.msg('上传成功！', {
                            icon: 1
                        });
                    }else{
                        layer.msg('上传失败！', {
                            icon: 5
                        });
                    }
                }
            });
        });
        //取消
        $('#cancelBriefing').off('click').on('click',function () {
            admin.finishPopupCenter()
        });
        var setName= function(personnelData){
            var briefingName =  $('#briefingName').val();
            var fileBriefing =  $('#fileBriefing').attr('data-fileId');
            if(!briefingName){
                return  layer.msg('请选择类别', {
                    icon: 5,
                    time:1000
                });
            }
            if(!fileBriefing){
                return  layer.msg('请上传文件', {
                    icon: 5,
                    time:1000
                });
            }
            var obj ={
                deptName:briefingName,
                fileId:fileBriefing
            };
            $.ajax({
                url: "/api/finicialProcess/financialProcessTable",
                type: 'post',
                data:JSON.stringify(obj),
                contentType: 'application/json',
                success: function (res) {
                    if (res.ok) {
                        if(!personnelData){
                            admin.finishPopupCenter(true);
                            return  layer.msg('新建成功', {
                                icon: 1
                            });
                        }else{
                            var receiveUsersId=[];
                            for (var i = 0; i <personnelData.length ; i++) {
                                receiveUsersId.push(personnelData[i].id)
                            }
                            var objData={
                                financialId:res.data.id,
                                receiveUsersId:receiveUsersId
                                // financialReceiveId:res.data.id
                            };

                            $.ajax({
                                url: "/api/finicialProcess/financialProcessTable/send",
                                type: 'post',
                                data:JSON.stringify(objData),
                                contentType: 'application/json',
                                success: function (res) {
                                    if (res.ok) {
                                        admin.finishPopupCenter(true);
                                        return  layer.msg('发送成功', {
                                            icon: 1
                                        });
                                    }else{
                                        return  layer.msg(res.message, {
                                            icon: 5
                                        });
                                    }
                                }
                            });
                        }
                    }else{
                        return  layer.msg(res.message, {
                            icon: 5
                        });
                    }
                }
            });
        }
        //保存
        $('#saveBriefing').off('click').on('click',function () {
            setName();
        });

        //发送
        $('#submitBriefing').off('click').on('click',function () {
            var briefingName =  $('#briefingName').val();
            var fileBriefing =  $('#fileBriefing').attr('data-fileId');
            if(!briefingName){
                return  layer.msg('请选择类别', {
                    icon: 5,
                    time:1000
                });
            }
            if(!fileBriefing){
                return  layer.msg('请上传文件', {
                    icon: 5,
                    time:1000
                });
            }
            var data={
                data:[]
            };
            layer.open({
                type: 2,
                id: 'personnelSelect',
                title: '请选择',
                content: 'components/tpl/personnel_group_select.html',
                area: ['96%', '80%'],
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    var finalData = $('#personnelSelect iframe')[0].contentWindow
                        .task_personnel_select.finish();
                    if(finalData.length>0){
                        setName(finalData);
                        layer.close(index);
                    }else{
                        return  layer.msg('请选择要发送的人员', {
                            icon: 5,
                            time:1000
                        });
                    }
                },
                success: function () {
                    // 执行 iframe 内的方法
                    $('#personnelSelect iframe')[0].contentWindow.task_personnel_select
                        .init(data);
                },
                resize: false
            });
        });
        $.ajax({
            url: "/api/sys/dictype/list?dicCode=financialFormType",
            success: function (data) {
                var list = data.data;
                var con = '';
                for(i=0;i<list.length;i++){
                    con += '<option value='+list[i].id+'>'+list[i].dicTypeName+'</option>'
                }
                $('#briefingName').html()
                $('#briefingName').html(con)
                form.render("select");
            }
        })
    });
</script>