<style>
    element .style {
        top: 0px;
    }

    .layui-layer-page .layui-layer-content {
        overflow: visible;
    }

    .layui-input-block2 {
        margin-left: 125px;
        width: 527px;
    }

    .layui-form-label {
        margin-left: 20px;
    }

    .layui-form-select dl {
        top: 33px
    }
    .enterpriseLay .layui-form-select dl{
        max-height:180px;
    }
</style>
<div class="layui-tpl-container enterpriseLay layui-form">
    <div class="layui-row" id="user-area">
        <div>
            <!-- 新增和编辑表单 -->
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span> 类型</label>
                <div class="layui-input-block layui-input-block2">
                    <input type="text" maxlength="20" placeholder="请输入类型" class="layui-input" name="enterpriseType"
                        id="enterpriseType" lay-verify="required" autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span> 企业领域</label>
                <div class="layui-input-block layui-input-block2">
                    <input type="text" maxlength="20" placeholder="请输入企业领域" class="layui-input" name="enterpriseDomain"
                        id="enterpriseDomain" lay-verify="required" autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span> 企业名称</label>
                <div class="layui-input-block layui-input-block2">
                    <input type="text" placeholder="请输入企业名称" maxlength="80" class="layui-input" name="enterpriseName"
                        lay-verify="required" autocomplete="off">
                </div>
            </div>
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">省份</label>
                    <div class="layui-input-block layui-input-block2">
                        <select id="province" name="province" lay-filter="province" lay-search>
                            <option value="">请选择省</option>
                        </select>
                    </div>
                </div>
            </form>
            <input type="text" name="shen" id="shen" style="display: none;">
            <input type="text" name="qu" id="qu" style="display: none;">
            <div class="layui-form-item">
                <label class="layui-form-label">单位地址</label>
                <div class="layui-input-block layui-input-block2">
                    <input type="text" placeholder="请输入详细单位地址" maxlength="200" class="layui-input"
                        name="enterpriseAddress" autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item" id="times">
                <label class="layui-form-label">创建日期</label>
                <div class="layui-input-block layui-input-block2">
                    <input type="text" placeholder="请选择创建日期" maxlength="50" class="layui-input" name="year"
                        id="deadTime" autocomplete="off">
                </div>
            </div>
            <input type="text" name="type" id="type" style="display: none;">
            <input type="text" name="id" style="display: none;">
        </div>
    </div>
    <!-- 提交按钮 -->
    <!-- 取消按钮 -->
    <div class="layui-form-item" style="text-align: center;position: absolute;bottom: 5%;left: 0;right: 0;">
        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="menuSave_user">保存</button>
        <button class="layui-btn layui-btn-primary" id="menuCancle_user">取消</button>
    </div>
</div>
</div>
<script type="text/javascript" src="../../assetsInfo/libs/area.js"></script>
<script>
    var areaData = Area;
    var $form;
    var form;
    var $;
    layui.use(['jquery', 'form', 'laydate'], function () {
        var laydate = layui.laydate;
        $ = layui.jquery;
        form = layui.form;
        $form = $('form');
        // loadProvince();
        laydate.render({
            elem: "#deadTime",
            type: "date",
            value:new Date()
        });
    })
    // 取消按钮
    $('#menuCancle_user').on('click', function () {
        layui.admin.closePopupCenter();
    });
    //加载省数据   '_' + areaData[i].mallCityList.length + '_' + i + 
    function loadProvince() {
        var proHtml = '';
        for (var i = 0; i < areaData.length; i++) {
            proHtml += '<option value="' + areaData[i].provinceName + '">' + areaData[i].provinceName + '</option>';
        }
        //初始化省数据
        $form.find('select[name=province]').append(proHtml);
        form.render();
        form.on('select(province)', function (data) {
            $form.find('select[name=area]').html('<option value="">请选择县/区</option>').parent().hide();
            var value = data.value;
            var d = value.split('_');
            var code = d[0];
            var count = d[1];
            var index = d[2];
            $('#shen').val(code)
        });
    }
</script>