.layui-card-body {
    height: auto;
}

.layui-card-header {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.layui-data-top {
    width: 94%;
    margin: auto;
}

.layui-data-top .dataDiv {

    padding-top: 10px;
    height: 50px;
}
/*.layui-data-top .dataDiv::after{*/
/*width: 1px;*/
/*content:'';*/
/*display:inline-block;*/
/*background:  #e5e5e5;*/
/*height: 30px;*/
/*margin-top: 10px;*/
/*clear: both;*/
/*}*/
.layui-data-top .dataDiv .line{
    width: 1px;
    display:inline-block;
    background:  #e5e5e5;
    height: 30px;
    margin-top: 5px;

}
.dataDiv.dataDiv-last {
    border-right: 0;
}

.dataDivimg {
    width: 41%;
    height: 48px;
    float: left;
    text-align: right;
}

.dataDivimg img {
    width: 48px;
    height: 48px;
    margin: auto;
}


.dataDivtxt {
    float: left;
    width: 38%;
    text-align: center;
    padding-right: 20%;
}

.dataval {
    font-size: 20px;
}


.datatit {
    color: #888888;
    font-size: 14px;
}

.dataval.data01 {
    color: #24a3f6;
}

.dataval.data02 {
    color: #7ed321;
}

.dataval.data03 {
    color: #9012fe;
}

.dataval.data04 {
    color: #ffbf00;
}

.layui-card-header .layui-card-header-title {
    border-left: 4px solid #00acff;
    padding: 2px 10px;
}


/**
     *
     * 事件样式调整
     *
     */

#main {
    /*width: 95%;*/
    margin: 2px auto;
    /* padding: 15px 0; */
}


/* .fc-day-top {
        height: 50px;
        background-color: #70a0e1;
    } */

.fc-today .fc-day-number {
    /* border-radius: 10px;
    border: 1px solid #ff7168;
    background: #ff7168; */
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #10ADE8;
    /*position: absolute;*/
    /*right: 0px;*/
}


/* .fc-row .fc-content-skeleton {
    padding-top: 10px;
} */

.fc-day-number {
    width: 24%;
    text-align: right;
    margin-right: 10px;
    font-size: 18px;
    color: #808080;
}

.fc-day-cnDate,
.fc-day-cnTerm {
    width: 61%;
    float: left;
    padding-left: 10px;
    color: #949494;
}

.wz_title {
    /* font-size: 16px;
    padding: 5px; */
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 2px;
    color: #000;
}

.layui-form-checkbox i {
    border-left: 1px solid #d2d2d2;
}

.layui-form-label {
    padding: 5px 0;
    text-align: left;
}

.layui-input-block {
    margin-left: 80px;
    padding-right: 0;
}

.layui-form-item {
    margin-bottom: 5px;
}

.layui-layer-page .layui-layer-btn {
    padding-top: 0;
}

.layui-table-view .layui-form-checkbox {
    height: 18px;
    line-height: 18px;
    padding-right: 18px;
}

.layui-table-view .layui-form-checkbox i {
    height: 18px;
    width: 18px;
    font-size: 14px;
}

.layui-data-top .dataDiv .line {
    width: 1px;
    display: inline-block;
    background: #e5e5e5;
    height: 30px;
    margin-top: 10px;
}