/* This is a function for icons position*/
.statusBar {
  height: 22px;
  padding-top: 2px;
  background-color: #217346;
}
.statusBar .statusbar-edit-status {
  margin-left: 8px;
  border: none;
  background-color: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 11px;
  font-weight: 400;
}
.statusBar .statusbar-zoom-area {
  float: right;
  height: 16px;
}
.statusBar .statusbar-zoom-slider {
  float: right;
  width: 120px;
  height: 3px;
  margin-top: 6px;
  background-color: lightgray;
  background: none;
}
.statusBar .ui-slider-handle {
  width: 8px;
  height: 20px;
  top: -9px;
}
.statusBar .statusbar-decrease-button,
.statusBar .statusbar-increase-button {
  float: right;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: none;
  background-image: url(../images/icons.png);
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
}
.statusBar .statusbar-decrease-button {
  background-position: 0px -3936px;
}
.statusBar .statusbar-increase-button {
  background-position: 0px -3920px;
}
.statusBar .statusbar-zoom-value {
  width: 50px;
  display: inline-block;
  float: right;
  border: none;
  background-color: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 11px;
  font-weight: 400;
}
