<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>模型预览</title>

<style type="text/css">
    .center-in-center {
        position: absolute;
        top: 40%;
        left: 46%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<link rel="stylesheet" href="../../assetsInfo/css/admin.css" />
<link rel="stylesheet" href="../../assetsInfo/css/style.css">
<link rel="stylesheet" href="../../assetsInfo/css/theme.css" />
<link rel="stylesheet" type="text/css" href="../../assetsInfo/pivot.css">

<script type="text/javascript" src="../../assetsInfo/libs/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../../assetsInfo/pivot.js"></script>
<script type="text/javascript" src="../../assetsInfo/libs/jquery-ui-1.9.2.min.js"></script>
<script src="../../assetsInfo/echarts.js"></script>
<script src="../../assetsInfo/walden.js"></script>
<script type="text/javascript" src="../../assetsInfo/ec_renderers.js"></script>


<!--<div id="output" class="center-in-center" style="margin: 30px;"></div>-->
<div style="padding: 20px;overflow: auto;height: calc(100% - 60px)">
    <table id="tableContent" lay-filter="tableContent" ></table>
</div>
<!--<div style="text-align: center;position: absolute;bottom: 10px;left: 0;right: 0;">-->
    <!--<button class="layui-btn layui-btn-normal" id="model_save" lay-submit lay-filter="model_save">保存</button>-->
    <!--<button class="layui-btn layui-btn-primary" id="model_cancel" lay-submit lay-filter="model_cancel">取消</button>-->
<!--</div>-->

<script>
    layui.use(['element','laypage','tree','util','table','form','laydate'], function () {
        var element = layui.element,
            table = layui.table,
            tree = layui.tree,
            form = layui.form,
            admin = layui.admin,
            laydate = layui.laydate,
            config = layui.config,
            layer = layui.layer,
            tools = layui.tools,
            util = layui.util;
        var id = sessionStorage.getItem("id");
        $.get('/api/model/model', {
            MId: id
        }, function(res) {
            $.get('/api/dataset/forCode/' + res.data[0].mCode,
                function(info) {
                    var arrData = info.data;
                    var col =[];
                    for( var item in info.data[0]){
                        col.push({
                            title:'<span title="'+item+'">'+item+'</span>',
                            field: item,
                            align: 'center',
                            searchIndex:item,//修改源码添加searchIndex字段
                            templet: function(d,name) {
                                return '<div title="'+(d[name.searchIndex])+'"><span>'+ (d[name.searchIndex]) +'</span></div>';

                            }
                        });
                    }
                    table.render({
                        elem: '#tableContent',
                        url: admin.formatUrl("/api/dataset/forCode/"+res.data[0].mCode), //数据接口
                        // method: 'get',
                        // contentType: 'application/json',
                        parseData: function (res) { //res 即为原始返回的数据

                            // layer.close(index);
                            // 返回结果，进行渲染表格
                            return {
                                // "count": res.data.count,
                                "code": res.respCode, //解析接口状态
                                "msg": res.message, //解析提示文本
                                "data": res.data //解析数据列表
                            };
                        },
                        cols: [
                            col
                        ],
                        limit: arrData.length
                    });
                });
        });
    });
</script>