
<div class="layui-card-header">
    <h2 class="header-title">修改密码</h2>
    <!--<i style="float: right" class="layui-layer-ico layui-layer-close layui-layer-close1"></i>-->
    <span id="closePassword" class="layui-layer-setwin"><a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a></span>
    <!--<h2 class="header-title"  style="float: right;cursor: pointer;position: relative;right:-6px;margin: 0px;top: -9px;">x</h2>-->
</div>
<div class="layui-card-body" style="padding: 30px;">
    <div class="layui-form" id="form-psw">
        <div class="layui-form-item layui-form-pane">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-block">
                <input type="password" name="oldPassword" required lay-verify="required" class="layui-input"
                    placeholder="请输入原密码" lay-verType="tips">
            </div>
        </div>
        <div class="layui-form-item layui-form-pane">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" name="newPassword" required lay-verify="required|psw|diffpsw" class="layui-input"
                    placeholder="请输入新密码" lay-verType="tips">
            </div>
        </div>
        <div class="layui-form-item layui-form-pane">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" name="rePassword" required lay-verify="required|repsw" class="layui-input"
                    placeholder="再次输入新密码" lay-verType="tips">
            </div>
        </div>

        <div class="layui-form-item">
            <button class="layui-btn layui-btn-fluid layui-btn-normal" lay-submit lay-filter="submit-psw">确认修改</button>
        </div>
    </div>
</div>
<script src="../../assetsInfo/js/base64.js"></script>
<script>
    layui.use(['form', 'admin'], function () {
        var form = layui.form;
        var admin = layui.admin;
        var config = layui.config;
        $("#closePassword").off('click').on('click',function () {
           admin.closePopupRight()
        });
        //监听提交
        form.on('submit(submit-psw)', function (data) {
            data.elem.disabled = true;
            delete data.field.rePassword;
            data.field.oldPassword=$.base64.encode(data.field.oldPassword);
            data.field.newPassword=$.base64.encode(data.field.newPassword);
            $.ajax({
                url: '/api/updatePassword?oldPassword=' + data.field.oldPassword + '&newPassword=' + data.field.newPassword,
                type: 'put',
                contentType: 'application/json; charset=UTF-8',
                dataType: 'JSON',
                timeout: 5000,
                success: function (res) {
                    if (res.ok) {
                        layer.msg('修改密码成功！请重新登录', {
                            icon: 1,
                            shade: 0.3
                        }, function () {
                            config.removeAccount();
                            location.replace('/ADC_info/login.html?redirect_to=' + window.location.hash);
                            // location.replace('/api/login?redirect_to=' + window.location.hash);
                        });
                    } else {
                        data.elem.disabled = false
                        return layer.msg('修改密码失败：' + res.message, {
                            icon: 5
                        });
                    }
                },
                error: function (xhr) {
                    data.elem.disabled = false
                    return layer.msg('修改密码失败：' + res.message, {
                        icon: 5
                    });
                }
            });
        });

        //添加表单验证方法
        form.verify({
            psw: function (t) {
                var regUpper = /[A-Z]/;
                var regLower = /[a-z]/;
                var regNum = /[0-9]/;
                var regTeShu =new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？+-]");
                var complex = 0;
                if (regLower.test(t)) {
                    ++complex;
                }
                if (regUpper.test(t)) {
                    ++complex;
                }
                if (regNum.test(t)) {
                    ++complex;
                }
                if(regTeShu.test(t)){
                    ++complex;
                }
                if (complex < 3 || t < 8||t >16) {
                    return layer.msg('密码长度8-16位，包含数字、字母大、小写、符号中的至少3种', {
                        icon: 5
                    });
                }
            },
            diffpsw: function (t) {
                if (t === $('#form-psw input[name=oldPassword]').val()) {
                    return '新旧密码不可以相同';
                }
            },
            repsw: function (t) {
                if (t !== $('#form-psw input[name=newPassword]').val()) {
                    return '两次密码输入不一致';
                }
            }
        });
    });
</script>