<div class="layui-tpl-container">
    <div class="layui-form p-form">
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red;">*</span>流程名称</label>
            <div class="layui-input-block">
                <input type="text" name="processName" placeholder="请输入流程名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">流程Key</label>
            <div class="layui-input-block">
                <input type="text" name="processKey" placeholder="请输入流程Key" class="layui-input">
            </div>
        </div>
        <!-- 提交按钮 -->
        <!-- 取消按钮 -->
        <div class="layui-form-item" style="text-align: center;">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="processSave">保存</button>
            <button class="layui-btn layui-btn-primary" lay-submit lay-filter="popProcessCancle">取消</button>
        </div>
    </div>
</div>