<style>
    #add-paper input{
        height: 32px;
    }
    #add-paper .reduceMarginL{
        margin-left: 90px;
    }
    #add-paper .reduceMarginL button{
        width: 63px;
        height: 26px;
        line-height: 26px;
    }
    #add-paper .labelWidth{
        width: 60px;
    }
    #add-paper .layui-form-select dl dd.layui-this{
        background-color: #229FFF
    }

</style>

<link rel="stylesheet" href="../../assetsInfo/libs/layui/css/layui.css" />
<link rel="stylesheet" href="../../assetsInfo/css/style.css">

<div class="layui-tpl-container" style="padding-top: 20px">
    <div class="layui-form" id="add-paper">
        <div class="layui-row">
            <div style="width: 50%;float: left">
                <div class="layui-form-item">
                    <label class="layui-form-label labelWidth"> 编号</label>
                    <div class="layui-input-block reduceMarginL">
                        <input type="text" name="autoNumber" placeholder="请输入编号" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label labelWidth">名称</label>
                    <div class="layui-input-block reduceMarginL">
                        <input type="text" name="name" placeholder="请输入名称" class="layui-input" maxlength="150" lay-verify="required" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label labelWidth">索引</label>
                    <div class="layui-input-block reduceMarginL">
                        <input type="text" placeholder="请输入索引" class="layui-input" name="index" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label labelWidth">刊登时间</label>
                    <div class="layui-input-block reduceMarginL">
                        <input type="text" placeholder="请输入刊登时间" class="layui-input" name="publishedTime" id="publishedTime" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label labelWidth"><span>部门</span> </label>
                    <div class="layui-input-block reduceMarginL" style="position: relative">
                        <input type="text" placeholder="请输入部门" class="layui-input" name="deptName" id="deptName" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label labelWidth">保密程度</label>
                    <div class="layui-input-block reduceMarginL">
                        <input type="text" placeholder="请输入保密程度" class="layui-input" name="securityLevel" readonly>
                    </div>
                </div>
            </div>
            <div style="width: 50%;float: left">
                <div class="layui-form-item">
                    <label class="layui-form-label labelWidth">发表期刊</label>
                    <div class="layui-input-block reduceMarginL">
                        <input type="text" placeholder="请输入发表期刊" class="layui-input" name="publishedJournals" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label labelWidth">关键词</label>
                    <div class="layui-input-block reduceMarginL">
                        <input type="text" placeholder="请输入关键词" class="layui-input" name="keywords" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label labelWidth">刊登期号</label>
                    <div class="layui-input-block reduceMarginL">
                        <input type="text" placeholder="请输入刊登期号" class="layui-input" name="publishedIssue" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label labelWidth">公司</label>
                    <div class="layui-input-block reduceMarginL">
                        <input type="text" placeholder="请输入公司" class="layui-input" name="company" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label labelWidth">作者</label>
                    <div class="layui-input-block reduceMarginL">
                        <input type="text" placeholder="请输入作者" class="layui-input" name="authorUserNames" readonly>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label labelWidth"><span> 附件</span> </label>
                    <!--<div class="layui-input-block reduceMarginL" style="position: relative">-->
                        <!--<input type="text" placeholder="请上传附件" id="fileName" class="layui-input" readonly>-->
                    <!--</div>-->
                    <div class="layui-input-block reduceMarginL" style="position: relative">
                        <input type="text" style="width:160px;float: left;" id="fileName" class="layui-input" readonly name="fileName">
                        <button class="layui-btn layui-btn-sm layui-btn-normal" title="下载" id="downFile" style="float: right">下载</button>
                    </div>
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label labelWidth">摘要</label>
                <div class="layui-input-block reduceMarginL">
                    <textarea name="paperAbstract" placeholder="请输入" class="layui-textarea" maxlength="200" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../assetsInfo/libs/jquery-1.12.4.min.js"></script>
<!-- Q.js 轻量路由框架 -->
<script type="text/javascript" src="../../assetsInfo/libs/q.js"></script>
<!-- jQuery 轻量级 MVVM 框架 -->
<script type="text/javascript" src="../../assetsInfo/libs/pandyle.min.js"></script>
<!-- layui 脚本文件 -->
<script type="text/javascript" src="../../assetsInfo/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assetsInfo/js/jsencrypt.min.js"></script>
<script type="text/javascript" src="../../module/ajaxSet.js"></script>
<script src="/assetsInfo/js/ADCFormDesignHelper.js"></script>
<script>
    layui.use(['form','laydate','upload','util'], function() {
        var layer = layui.layer;
        var parent_json = eval('('+parent.json+')');
        var id = parent_json.id;
        var fileId;
        $.ajax({
            url: "/ADC_info/api/knowledge/paper/"+id,
            success: function (data) {
                for(var item in data.data){
                    if(data.data[item]){
                        data.data[item] = ADCFormDesignHelper.htmlDecodeByRegExp(data.data[item])
                    }
                }
                var publishedTime = data.data.publishedTime?layui.util.toDateString(data.data.publishedTime,'yyyy-MM-dd'):'';
                $('input[name=autoNumber]').val(data.data.autoNumber);
                $('input[name=name]').val(data.data.name);
                $('input[name=index]').val(data.data.index);
                $('input[name=publishedTime]').val(publishedTime);
                $('input[name=securityLevel]').val(data.data.securityLevel);
                $('input[name=keywords]').val(data.data.keywords);
                $('input[name=publishedJournals]').val(data.data.publishedJournals);
                $('input[name=publishedIssue]').val(data.data.publishedIssue);
                $('input[name=company]').val(data.data.company);
                $('input[name=authorUserNames]').val(data.data.authorUserNames);
                $('textarea[name=paperAbstract]').val(data.data.paperAbstract);
                $('input[name=deptName]').val(data.data.deptName);
                $('input[id=fileName]').val(data.data.fileName);
                fileId = data.data.fileId;
            }
        })
        $('#downFile').on('click', function(){
            if(fileId){
                window.location.href = "/ADC_info/api/sys/file/"+fileId+"/download"
            }else{
                layer.msg('文件不存在')
            }

        })
    })

</script>